---
title: Analytique de l’utilisation du site Web
description: Fournit un aperçu des données d’utilisation du site, telles que le nombre de sessions, d’utilisateurs, de pages vues et les taux de rebond. Il met également en évidence les appareils les plus utilisés et les principaux pays d’origine des visiteurs du site. Les données sont régulièrement mises à jour pour refléter l’activité récente, ce qui nous aide à comprendre comment les utilisateurs interagissent avec le site et à améliorer l’expérience globale.
toggle: website-usage-analytics
tags: aboutUs
---

{% include "partials/analytics-chart.njk" %}

<p class="mrgn-tp-lg"><a href="{{ rootPath }}fr/analytique-de-lutilisation-du-site-web-visualisation-des-donnees"><i class="fas fa-server mrgn-rght-md" aria-hidden="true"></i>Consultez ces informations sous forme de données</a></p>

{% include "partials/analytics-toc.njk" %}

{% for month, results in analytics %}
<section class="mrgn-tp-lg mrgn-bttm-lg">
	<div class="well">
		<h2 class="mrgn-tp-sm" id="{{ month }}">{{ month | formatYearMonth }}</h2>
		<p>
			Le site a enregistré <strong>{{ results.results[0].sessions }}</strong> visites, avec
			<strong>{{ results.results[0].newUsers }}</strong> utilisateurs et
			<strong>{{ results.results[0].screenPageViews }}</strong> pages vues.
			Le taux de rebond moyen est de <strong>{{ results.results[0].bounceRate }}%</strong>, et la durée moyenne des sessions est de
			<strong>{{ results.results[0].avgSessionDuration }} minutes</strong>.
		</p>
		<p>
			Les appareils les plus utilisés sont les ordinateurs de bureau
			(<strong>{{ results.results[0].topDevices[0].device }} - {{ results.results[0].topDevices[0].percentage }}%</strong>),
			suivis par les appareils mobiles
			(<strong>{{ results.results[0].topDevices[1].device }} - {{ results.results[0].topDevices[1].percentage }}%</strong>)
			et les tablettes
			(<strong>{{ results.results[0].topDevices[2].device }} - {{ results.results[0].topDevices[2].percentage }}%</strong>).
		</p>
		<p>Les trois principaux pays par nombre de visiteurs sont :</p>
		<ol>
			<li><strong>{{ results.results[0].topCountries[0] }}</strong>,</li>
			<li><strong>{{ results.results[0].topCountries[1] }}</strong>, et</li>
			<li><strong>{{ results.results[0].topCountries[2] }}</strong>.</li>
		</ol>
	</div>
</section>
{% endfor %}

<h2>Années précédentes</h2>
<ul>
	<li><a href="/fr/analytique-de-lutilisation-du-site-web-2024/">Voir les statistiques de 2024</a></li>
</ul>
