---
title: Global Accessibility Standards
description: A set of guidelines to ensure digital content is accessible worldwide for people living with disabilities and frameworks for creating accessible digital products, services, and more.
layout: layouts/base.njk
audience:
  -
---
