
<nav>
	<ul id="wb-tphp">
		<li class="wb-slc">
			<a class="wb-sl" href="#wb-cont">Skip to main content</a>
		</li>
		<li class="wb-slc">
			<a class="wb-sl" href="#wb-info">Skip to "About government"</a>
		</li>
	</ul>
</nav>
