---
title: Normes d’accessibilité mondiales
description: Les lignes directrices visant à garantir que le contenu numérique est accessible dans le monde entier aux personnes vivant avec un handicap et des cadres pour créer des produits et services numériques accessibles, etc.
layout: layouts/base.njk
audience:
  -
---
