---
title: Accessibility in your role
description: We all have a role to play in accessibility. Learn more about job-specific accessibility tips and how to integrate them into your day-to-day work.
layout: layouts/base.njk
toggle: laccessibilite-dans-votre-role
tags: main
---
