---
title: Page list
pagination:
  data: collections.all
  size: 50000
  alias: entries
toggle: liste-des-pages
description: List of all the pages found on the Digital Accessibility Toolkit website.
---

{% include "partials/pageList.njk" %}
