---
title: Loi sur l’accessibilité
description: En savoir plus sur la loi sur l'accessibilité et sur le rôle que joue le gouvernement du Canada dans la mise en œuvre de cette loi.
layout: layouts/base.njk
audience:
  -
---
