---
title: Boîte à outils de l'accessibilité numérique
description: Bienvenue sur la Boîte à outils de l'accessibilité numérique. Nous offrons une variété de matériel d'apprentissage et de ressources pour vous aider à apprendre et à mettre en œuvre l'accessibilité dans vos projets numériques.
layout: layouts/home.njk
toggle: en
tags: home
permalink: /fr/index.html
---
