---
title: L'accessibilité dans votre rôle
description: Nous avons tous un rôle à jouer en matière d'accessibilité. Apprenez-en plus sur les conseils d'accessibilité spécifiques à votre emploi et sur la manière de les intégrer dans votre travail quotidien.
toggle: accessibility-in-your-role
tags:
---
{% if collections.accessibilityInYourRole === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg gc-drmt">
	{% for item in collections.accessibilityInYourRole | sort(false, false, 'data.title') | localeMatch(locale) %}
	<div class="col-md-6">
		<h2><a href="{% if item.data.redirect %}{{ item.data.redirect }}{% else %}{{ item.url }}{% endif %}"{% if item.data.oneLanguage %} hreflang="{{ landingPage[locale].otherLang }}"{% endif %}>{{ item.data.title | safe }}{% if item.data.oneLanguage %} {{ landingPage[locale].otherLangOnly }}{% endif %}</a></h2>
		<p>
			{% if item.data.description %}
			{{ item.data.description | safe }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>

{% endif %}
