---
title: Liste des pages tableau
pagination:
  data: collections.all
  size: 50000
  alias: entries
toggle: page-list-table
description: Liste de toutes les pages du site Web du Boîte à outils d'accessibilité numérique.
---

{% include "partials/pageListTable.njk" %}
