---
title: Liste des pages
pagination:
  data: collections.all
  size: 50000
  alias: entries
layout: layouts/base.njk
toggle: page-list
description: Liste de toutes les pages du site Web du Boîte à outils d'accessibilité numérique.
---

{% include "partials/pageList.njk" %}
