---
title: Normes d'accessibilité
description: Restez au courant des dernières normes et réglementations en matière d'accessibilité au sein du gouvernement.
layout: layouts/base.njk
toggle: accessibility-standards
tags: accessibilityInTheGovernmentOfCanada
---

{% if collections.standards === undefined %}

<p>There's nothing here !</p>

{% else %}

<div class="row wb-eqht mrgn-tp-lg">
	{% for item in collections.standards | localeMatch(locale) %}
	<div class="col-md-6">
		<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
		<p>{{ item.data.description }}</p>
	</div>
	{% endfor %}
</div>

{% endif %}
