---
title: Répertoire de la communauté
description: En savoir plus sur les organisations, les projets et les personnes qui travaillent sur l'accessibilité au sein du gouvernement du Canada.
toggle: community-directory
internalLinks: true
subject:
  - accessibilityInTheGovernmentOfCanada
---

{% if collections.communityDirectory === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg gc-drmt">
	{% for item in collections.communityDirectory | sort(false, false, 'data.title') | localeMatch(locale) %}
	<div class="col-md-6">
		<h2><a{% if item.data.redirect %} rel="external"{% endif %} href="{% if item.data.redirect %}{{ item.data.redirect }}{% else %}{{ pathPrefix }}{{ item.url }} {% endif %}"{% if item.data.oneLanguage %} hreflang="{{ landingPage[locale].otherLang }}"{% endif %}>{% if item.data.internal === true %}<span class="fas fa-external-link-square-alt mrgn-lft-sm mrgn-rght-sm" aria-hidden="true"></span><span class="wb-inv"> {{ alerts[locale].hiddenTextLink }}</span>{% endif %}{{ item.data.title | safe }}{% if item.data.oneLanguage %}<small> {{ landingPage[locale].otherLangOnly }}</small>{% endif %}</a></h2>
		<p>
			{% if item.data.description %}
			{{ item.data.description | safe }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>

<section>
	<h2>Autres ministères participants</h2>
	<ul class="colcount-sm-2">
		<li>Agence du revenu du Canada (ARC)</li>
		<li>Agriculture et Agroalimentaire Canada (AAC)</li>
		<li>Anciens Combattants Canada (ACC)</li>
		<li>Commission de la fonction publique du Canada (CFP)</li>
		<li><small>Ministère des</small> Finances Canada (FIN)</li>
		<li>Santé Canada (SC)</li>
		<li>Secrétariat du Conseil du Trésor du Canada</li>
		<li>Sécurité publique Canada (SP)</li>
		<li>Services partagés Canada (SPC)</li>
		<li>Services publics et Approvisionnement Canada (SPAC)</li>
	</ul>
</section>

{% endif %}
