---
title: À propos du projet
description: En savoir plus sur ce projet et sur la boîte à outils sur l'accessibilité numérique.
layout: layouts/base.njk
toggle: about-the-digital-the-accessibility-toolkit-project
tags: aboutUs
---

{% if collections.aboutTheDigitalTheAccessibilityToolkitProject === undefined %}

<p>There's nothing here !</p>

{% else %}

<div class="row wb-eqht mrgn-tp-lg">
	{% for item in collections.aboutTheDigitalTheAccessibilityToolkitProject | localeMatch(locale) %}
	<div class="col-md-6">
		<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
		<p>{{ item.data.description }}</p>
	</div>
	{% endfor %}
</div>

{% endif %}
