{% if redirect %}
{% include "partials/redirect.njk" %}
{% else %}

<!DOCTYPE html>
<html class="no-js" lang="{{ locale }}" dir="ltr">

	{% include "partials/head.njk" %}

	<body vocab="http://schema.org/" typeof="WebPage">

		{%- if archived -%}
			{%- include "partials/archived.njk" -%}
		{%- endif -%}

		{% include "partials/skipnav.njk" %}

		{% include "partials/header.njk" %}

		<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">

		{% block content %}

			<div class="banner">
				<div class="container p-0 p-sm-3">
					<div class="well header-rwd brdr-0 brdr-rds-0 text-white bg-gctheme">
						<h1 property="name" id="wb-cont">
							{%- if archived -%}
								{{ archiveStrings[locale].archivedTitle }}
							{%- endif -%}
							{{ title | safe }}
						</h1>
						{% if description %}
						<p>{{ description | safe }}</p>
						{% else %}
						<p><strong>{{ landingPage[locale].descriptionNoneText }}</strong></p>
						{% endif %}
						{%- if role -%}
						<hr />
						<h2 class="h6">Related roles:</h2>
						<ul class="list-inline">
							{% for key in role %}
							<li class="label label-success">
								{{ roles.labels[locale][key] or key }}
							</li>
							{% endfor %}
						</ul>
						{%- endif -%}
					</div>
				</div>
			</div>

			{% include "partials/alerts.njk" %}

			<div class="container">
				{% if officeTOC === true %}
				{% include "partials/office-toc.njk" %}
				{% include "partials/office365Notice.njk" %}
				{% endif %}

				{% if hasDocument %}
				{% include "partials/download.njk" %}
				{% endif %}

				{% if toc or tocSimple %}
				{% include "partials/onThisPage.njk" %}
				{% endif %}

				{{ content | safe }}
				{% if officeTOC === true %}
				{% include "partials/office-toc.njk" %}
				{% endif %}
			</div>

			{% include "partials/pagedetails.njk" %}

		{% endblock %}
		</main>

		{% include "partials/contribute.njk" %}

		{% include "partials/footer.njk" %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
		<script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/wet-boew.min.js"></script>
		<script src="https://www.canada.ca/etc/designs/canada/wet-boew/js/theme.min.js"></script>

		{%- if js === "chart" -%}

		<script>
			window["wb-charts"] = {
				plugins: ["https://gitcdn.link/repo/winne27/flot-valuelabels/master/jquery.flot.valuelabels.min.js"]
			};
		</script>

		<script src="{{ pathPrefix }}js/chart.js"></script>

		{%- endif -%}

		{%- if settings.env == "dev" or settings.env == "local" -%}
			{% include "partials/sa11y.njk" %}
		{%- endif -%}
	</body>

</html>

{% endif %}
