<!DOCTYPE html>
<html class="no-js" lang="{{ locale }}" dir="ltr">

{% include "partials/head.njk" %}

<body vocab="http://schema.org/" typeof="WebPage">

	{% include "partials/skipnav.njk" %}

	{% include "partials/header.njk"  %}

	<main property="mainContentOfPage" resource="#wb-main" typeof="WebPageElement">

		<div class="home">
			<div class="container p-0 p-sm-3">
				<div class="well header-rwd brdr-0 brdr-rds-0 text-white gctheme opct-90">
				<p aria-hidden="true">{{ settings[locale].metaTitle | safe }}</p>
					<h1 property="name" id="wb-cont">
						{{ title | safe }}
					</h1>
				</div>
			</div>
			<div class="well bg-dark text-white">
				<div class="container">
				<p class="h1"><i class="fas fa-bullhorn fa-lg"></i>The new Digital Accessibility Toolkit is coming on <time class="visible-xs-block visible-sm-block visible-md-block visible-lg-block mrgn-tp-md">Sunday, December 3, 2023</time></p>
				<p>Stay tuned for our revamped site with new accessibility resources to support you at work and in digital spaces.</p>
				</div>
			</div>
		</div>

		<div class="container">
			{% include "partials/alerts.njk" %}
			<p>{{ description | safe }}</p>
			{{ content | safe }}
			{% include "partials/pagedetails.njk" %}
		</div>

	</main>

	{% include "partials/contribute.njk" %}

	{% include "partials/footer.njk" %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
	<script src="//www.canada.ca/etc/designs/canada/wet-boew/js/wet-boew.min.js"></script>
	<script src="//www.canada.ca/etc/designs/canada/wet-boew/js/theme.min.js"></script>
</body>
</html>
