---
title: About Disabilities
description: Learn more about the most common types of disabilities in the workplace and their related accessibility considerations.
layout: layouts/base.njk
audience:
  -
---
