---
title: Website usage analytics - Data view
description: Provides an overview of website usage data, such as the number of visits, users, pageviews, and bounce rates. It also highlights the most frequently used devices and the top countries where users visit the site. The data is updated regularly to reflect the latest activity, helping us understand how people interact with the website and improve the overall experience.
toggle: analytique-de-lutilisation-du-site-web-visualisation-des-donnees
---

<p><a href="{{ rootPath }}en/website-usage-analytics"><i class="fas fa-align-left mrgn-rght-md" aria-hidden="true"></i>Check out this information in simple text</a></p>

{% include "partials/analytics-toc.njk" %}

<div class="row">
	{% for month, results in analytics %}
	<section class="col-md-6 mrgn-tp-md mrgn-bttm-md">
		<div class="well">
		<h2 class="mrgn-tp-sm" id="{{ month }}">{{ month | formatYearMonth }}</h2>
		<dl>
			<dt>Visits:</dt>
			<dd>{{ results.results[0].sessions }}</dd>
			<dt>Users:</dt>
			<dd>{{ results.results[0].newUsers }}</dd>
			<dt>Pageviews:</dt>
			<dd>{{ results.results[0].screenPageViews }}</dd>
			<dt>Bounce Rate:</dt>
			<dd>{{ results.results[0].bounceRate }}%</dd>
			<dt>Average Session Duration:</dt>
			<dd>{{ results.results[0].avgSessionDuration }} minutes</dd>
			<dt>Most used devices:</dt>
			<dd>
				<ul>
					{% for device in results.results[0].topDevices %}
					<li>{{ device.device }} - {{ device.percentage }}%</li>
					{% endfor %}
				</ul>
			</dd>
			<dt>Top 3 countries:</dt>
			<dd>
				<ol>
					{% for country in results.results[0].topCountries %}
					<li>{{ country }}</li>
					{% endfor %}
				</ol>
			</dd>
		</dl>
		</div>
	</section>
	{% endfor %}
</div>
