---
title: À propos des handicaps
description: Il y a plusieurs types d’handicaps et limitations. Explorons ensemble les plus courants sur le lieu de travail, et les considérations d'accessibilité qui s'y rapportent.
layout: layouts/base.njk
audience:
  -
---
