---
title: À propos des handicaps
description: Il y a plusieurs types d’handicaps et limitations. Explorons ensemble les plus courants sur le lieu de travail, et les considérations d'accessibilité qui s'y rapportent.
layout: layouts/base.njk
toggle: about-disabilities
tags: accessibilityFundamentals
---

{% if collections.aboutDisabilities === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg">
	{% for item in collections.aboutDisabilities | localeMatch(locale) %}
	<div class="col-md-6">
		<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
		<p>
			{% if item.data.description %}
			{{ item.data.description }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>

{% endif %}
