---
title: Principes de base de l’accessibilité
description: Découvrez les principes d'accessibilité qui guident la création de produits et de services numériques qui éliminent les obstacles pour les personnes handicapées tout en assurant une facilité d'utilisation pour tous.
layout: layouts/base.njk
"tags" : "main"
---
