---
title: Create web content
description: Discover resources and job aids that help you create accessible web content.
layout: layouts/base.njk
toggle: creer-du-contenu-web
tags: howTos
---

{% if collections.createWebContent === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg">
	{% for item in collections.createWebContent | localeMatch(locale) %}
	<div class="col-md-6">
		<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
		<p>{{ item.data.description }}</p>
	</div>
	{% endfor %}
</div>

{% endif %}
