---
title: Design a course
description: Learn about the roles and processes involved in designing and developing an accessible course.
toggle: concevoir-un-cours
tags: howTos
---
{% if collections.designCourse === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg gc-drmt">
	{% for item in collections.designCourse | sort(false, false, 'data.title') | localeMatch(locale) %}
	<div class="col-md-6">
		<h2><a href="{% if item.data.redirect %}{{ item.data.redirect }}{% else %}{{ item.url }}{% endif %}"{% if item.data.oneLanguage %} hreflang="{{ landingPage[locale].otherLang }}"{% endif %}>{{ item.data.title | safe }}{% if item.data.oneLanguage %}<small> {{ landingPage[locale].otherLangOnly }}</small>{% endif %}</a></h2>
		<p>
			{% if item.data.description %}
			{{ item.data.description | safe }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>

{% endif %}
