---
title: Accessibility in the Government of Canada
description: Learn more about the accessibility standards, roles, and teams related to the Government of Canada.
layout: layouts/base.njk
audience:
  -
---
