// Banner styles
$theme-color: #31393A;

.banner {
	background: no-repeat center center;
	background-size: cover;
	background-image: url("../img/banner.png");
	margin-bottom: 25px;

	.bg-gctheme.well.header-rwd {
		background-color: $theme-color;
		width: 90%;

		@media (min-width: 768px) {
			width: 75%;
		}

		h1 {
			width: 100%;
			font-weight: 500;
			margin-top: 10px;
		}
	}
}
