.contribute {
	background-color: black;
	color: #fff;
	padding-bottom: 25px !important;

	ul {

		@media only screen and (min-width: 992px) {
			padding-top: 4em;
		}
	}

	li {
		padding-bottom: 15px;
	}

	small {
		display: block;
		color: #aaa;
		margin-top: 5px;

	}

	h2 {
		margin-bottom: 15px;

		small {
			@media (min-width: 576px) {
				margin-left: 45px;
			}
			margin-top: 5px;
		}
	}

	.fa-fw {
		margin-right: 8px;
	}


	a {
		text-decoration: none;
		border-bottom: solid 1px;
		color: #fff;

		&:hover,
		&:focus {
			border-bottom: none;
		}

		small {
			margin-left: 15px;
		}
	}
}

