.a11y-standards-list {
	list-style: none;

	&>li {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	span {
		margin-right: 15px;
	}
}


// Added because GCWeb doesn't cover h2, blockquotes and li in the doormat styles
.gc-drmt,
.gc-srvinfo {

	h2 {
		font-size: 1em;
		margin-bottom: 5px;
		margin-top: 23px
	}

	li {
		font-size: 17px;
		line-height: 1.5em;
	}

	blockquote {
		font-size: 17px;
	}

	footer {
		font-size: 17px;
	}

}

// Added because GCWeb doesn't cover links in well.header-rwd
.well.header-rwd {
	a {
		color: #fff;

		&:hover,
		&:focus {
			text-decoration: none;
			color: #A0CCF8;
		}
	}

}
