.a11y-standards-list {
	list-style: none;

	&>li {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	span {
		margin-right: 15px;
	}
}


// Added because GCWeb doesn't cover h2 in the doormat styles
.gc-drmt {
	h2 {
		font-size: 1em;
		margin-bottom: 5px;
		margin-top: 23px
	}
}
