---
title: L'accessibilité dans votre rôle
description: Nous avons tous un rôle à jouer en matière d'accessibilité. Apprenez-en plus sur les conseils d'accessibilité spécifiques à votre emploi et sur la manière de les intégrer dans votre travail quotidien.
layout: layouts/base.njk
audience:
  -
---
