---
title: Créer du contenu Web
description: La création de contenu pour le web comporte ses propres défis et spécifications. Dans la section suivante, nous avons rassemblé diverses ressources et aides à la tâche.
layout: layouts/base.njk
audience:
  -
---
