---
title: Page list
pagination:
  data: collections.all
  size: 50000
  alias: entries
layout: layouts/base.njk
description: List of all the pages found on the Digital Accessibility Toolkit website.
---
<div class="wb-filter" data-wb-filter='{
    "selector": " ",
  "section": "section"
}'>
	<div class="wb-eqht-grd row">
		{%- for entry in entries %}
		{%- if entry.data.locale==locale %}
		<section class="col-md-4">
			<h2 class="h4"><a href="{{ entry.url }}">{{ entry.data.title }}</a></h2>
			<p><code>{{ entry.url }}</code></p>
			<p>{{ entry.data.description }}</p>
		</section>
		{%- endif %}
		{%- endfor %}
	</div>
</div>
