---
title: Ressources et outils
description: Vous trouverez ici différents guides, ressources et outils créés par des fonctionnaires fédéraux pour faire progresser l'accessibilité numérique.
layout: layouts/base.njk
toggle: resources-and-tools
tags: main
---

{% if collections.resourcesAndTools === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg">
	{% for item in collections.resourcesAndTools | localeMatch(locale) %}
	<div class="col-md-6">
		<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
		<p>
			{% if item.data.description %}
			{{ item.data.description }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>

{% endif %}
