---
title: Ressources
description:
layout: layouts/base.njk
toggle: resources
tags: resourcesAndTools
---

{% if collections.resources === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg">
	{% for item in collections.resources | localeMatch(locale) %}
	<div class="col-md-6">
		<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
		<p>
			{% if item.data.description %}
			{{ item.data.description }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>

{% endif %}
