{% if locale === "en" %}

<h3>3.3 Abbreviations</h3>
<p>For the purposes of the present document, the following abbreviations apply:</p>
<dl class="dl-horizontal">
	<dt>ANSI</dt>
	<dd>American National Standards Institute</dd>
	<dt>AT</dt>
	<dd>Assistive Technology</dd>
	<dt>ATAG</dt>
	<dd>Authoring Tool Accessibility Guidelines (of W3C)</dd>
	<dt>CEN</dt>
	<dd>Comité Européen de Normalisation (no English Term)</dd>
	<dt>CSS</dt>
	<dd>Cascading Style Sheets</dd>
	<dt>DOM</dt>
	<dd>Document Object Model</dd>
	<dt>EFTA</dt>
	<dd>European Free Trade Area</dd>
	<dt>EU</dt>
	<dd>European Union</dd>
	<dt>FPS</dt>
	<dd>Frames Per Second</dd>
	<dt>FXML</dt>
	<dd>XML-based user interface markup language</dd>
	<dt>HTML</dt>
	<dd>HyperText Markup Language</dd>
	<dt>HTTP</dt>
	<dd>HyperText Transfer Protocol</dd>
	<dt>ICT</dt>
	<dd>Information and Communication Technology</dd>
	<dt>IETF</dt>
	<dd>Internet Engineering Task Force</dd>
	<dt>IMS</dt>
	<dd>IP Multimedia System</dd>
	<dt>IP</dt>
	<dd>Internet Protocol</dd>
	<dt>ISO</dt>
	<dd>International Organization for Standardization</dd>
	<dt>ITU-T</dt>
	<dd>International Telecommunication Union - Telecommunication standardization sector</dd>
	<dt>JWG</dt>
	<dd>Joint Working Group (of CEN/CENELEC/ETSI)</dd>
	<dt>LED</dt>
	<dd>Light Emitting Device</dd>
	<dt>ODF</dt>
	<dd>Open Document Format</dd>
	<dt>OOXML</dt>
	<dd>Office Open eXtensible Markup Language</dd>
	<dt>PSTN</dt>
	<dd>Public Switched Telephone Network</dd>
	<dt>QVGA</dt>
	<dd>Quarter Video Graphics Array</dd>
	<dt>RFC</dt>
	<dd>Request For Comment</dd>
	<dt>RTT</dt>
	<dd>Real-Time Text</dd>
	<dt>SIP</dt>
	<dd>Session Initiation Protocol</dd>
	<dt>UAAG</dt>
	<dd>User Agent Accessibility Guidelines (of W3C)</dd>
	<dt>URI</dt>
	<dd>Uniform Resource Identifier</dd>
	<dt>USB</dt>
	<dd>Universal Serial Bus</dd>
	<dt>VGA</dt>
	<dd>Video Graphics Array</dd>
	<dt>VOIP</dt>
	<dd>Voice Over IP</dd>
	<dt>W3C</dt>
	<dd>World Wide Web Consortium</dd>
	<dt>WAI</dt>
	<dd>Web Accessibility Initiative</dd>
	<dt>WCAG</dt>
	<dd>Web Content Accessibility Guidelines (of W3C)</dd>
	<dt>WLAN</dt>
	<dd>Wireless Local Access Network</dd>
	<dt>XML</dt>
	<dd>eXtensible Markup Language</dd>
	<dt>XUL</dt>
	<dd>XML User interface Language</dd>
</dl>

{% else %}

### 3.3 Abréviations

Aux fins du présent document, les abréviations suivantes sont employées :

<dl class="dl-horizontal">
	<dt>ANSI</dt>
	<dd>American National Standards Institute / Loi sur les Américains en situation de handicap</dd>
	<dt>AT</dt>
	<dd>Assistive Technology / Technologie d’Assistance (TA)</dd>
	<dt>ATAG</dt>
	<dd>Authoring Tool Accessibility Guidelines (of W3C) / Règles d'accessibilité pour les outils d'édition (du W3C)</dd>
	<dt>CEN</dt>
	<dd>Comité Européen de Normalisation</dd>
	<dt>CSS</dt>
	<dd>Cascading Style Sheets / Feuilles de style en cascade</dd>
	<dt>DOM</dt>
	<dd>Document Object Model / Modèle d'objets de document</dd>
	<dt>EFTA</dt>
	<dd>European Free Trade Area / Association européenne de libre-échange (AELE)</dd>
	<dt>EU</dt>
	<dd>European Union / Union européenne</dd>
	<dt>IPS</dt>
	<dd>Images par seconde</dd>
	<dt>FXML</dt>
	<dd>XML-based user interface markup language (pas de terme en français)</dd>
	<dt>HTML</dt>
	<dd>HyperText Markup Language (pas de terme en français)</dd>
	<dt>HTTP</dt>
	<dd>HyperText Transfer Protocol (pas de terme en français)</dd>
	<dt>ICT</dt>
	<dd>Information and Communication Technology / Technologies de l’information et des communications (TIC)</dd>
	<dt>IETF</dt>
	<dd>Internet Engineering Task Force (pas de terme en français)</dd>
	<dt>IMS</dt>
	<dd>IP Multimedia System / Sous-système multimédia IP</dd>
	<dt>IP</dt>
	<dd>Internet Protocol / Protocole internet</dd>
	<dt>ISO</dt>
	<dd>International Organization for Standardization / Organisation internationale de normalisation</dd>
	<dt>ITU-T</dt>
	<dd>International Telecommunication Union - Telecommunication standardization sector / Union internationale des télécommunications - Secteur de la normalisation des télécommunications</dd>
	<dt>JWG</dt>
	<dd>Joint Working Group (of CEN/CENELEC/ETSI) / Groupe de travail mixte (de CEN/CENELEC/ETSI)</dd>
	<dt>LED</dt>
	<dd>Light Emitting Device / Diode électroluminescente</dd>
	<dt>ODF</dt>
	<dd>Open Document Format / Format OpenDocument</dd>
	<dt>OOXML</dt>
	<dd>Office Open eXtensible Markup Language (pas de terme en français)</dd>
	<dt>RTPC</dt>
	<dd>Réseau téléphonique public commuté</dd>
	<dt>QVGA</dt>
	<dd>Quarter Video Graphics Array (pas de terme en français)</dd>
	<dt>RFC</dt>
	<dd>Request For Comment / Demande de commentaires</dd>
	<dt>TTR</dt>
	<dd>Texte en temps réel</dd>
	<dt>SIP</dt>
	<dd>Session Initiation Protocol (pas de terme en français)</dd>
	<dt>UAAG</dt>
	<dd>User Agent Accessibility Guidelines (of W3C) / Directives pour l'accessibilité des agents utilisateurs (du W3C)</dd>
	<dt>URI</dt>
	<dd>Uniform Resource Identifier / Identifiant uniforme de ressource</dd>
	<dt>USB</dt>
	<dd>Universal Serial Bus / bus série universel</dd>
	<dt>VGA</dt>
	<dd>Video Graphics Array (pas de terme en français)</dd>
	<dt>VOIP</dt>
	<dd>Voice Over IP / Voix sur IP</dd>
	<dt>W3C</dt>
	<dd>World Wide Web Consortium (pas de terme en français)</dd>
	<dt>WAI</dt>
	<dd>Web Accessibility Initiative / L'Initiative d'Accès au Web</dd>
	<dt>WCAG</dt>
	<dd>Web Content Accessibility Guidelines (of W3C) / Règles pour l’accessibilité des contenus Web</dd>
	<dt>WLAN</dt>
	<dd>Wireless Local Access Network (pas de terme en français)</dd>
	<dt>XML</dt>
	<dd>eXtensible Markup Language / Langage de balisage extensible</dd>
	<dt>XUL</dt>
	<dd>XML User interface Language (pas de terme en français)</dd>
</dl>

{% endif %}
