{% if locale === "en" %}

<div class="row wb-eqht">
	<figure class="col-lg-6" id="figure1">
		<figcaption class="h4">Figure 1: Relationship between minimum character height and maximum design viewing distance</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image1.png" alt="A diagram illustrating the content of clause 5.1.4" />
		<p>Related content:</p>
		<ul>
			<li><a href="#5.1.4">5.1.4 Functionality closed to text enlargement</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure2">
		<figcaption class="h4">Figure 2: Unobstructed forward reach </figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image2.png" alt="A diagram illustrating the content of clause 8.3.2" />
		<p>Related content:</p>
		<ul>
			<li><a href="#8.3.2">8.3.2 Forward reach</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure3">
		<figcaption class="h4">Figure 3: Obstructed forward reach</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image3.png" alt="A diagram illustrating the content of clauses 8.3.2.3.2 and 8.3.2.3.3" />
		<p>Related content:</p>
		<ul>
			<li><a href="#8.3.2.3.2">8.3.2.3.2 Obstructed (&lt510 mm) forward reach</a></li>
			<li><a href="#8.3.2.3.3">8.3.2.3.3 Obstructed (< 635 mm) forward reach</a>
			</li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure4">
		<figcaption class="h4">Figure 4: Toe clearance </figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image4.png" alt="A diagram illustrating the content of clause 8.3.2.5" />
		<p>Related content:</p>
		<ul>
			<li><a href="#8.3.2.5">8.3.2.5 Toe clearance</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure5">
		<figcaption class="h4">Figure 5: Knee clearance</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image5.png" alt="A diagram illustrating the content of the text 8.3.2.6 Knee clearance." />
		<p>Related content:</p>
		<ul>
			<li><a href="#8.3.2.6">8.3.2.6 Knee clearance</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure6">
		<figcaption class="h4">Figure 6: Unobstructed side reach</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image6.png" alt="A diagram illustrating the content of clause 8.3.3" />
		<p>Related content:</p>
		<ul>
			<li><a href="#8.3.3">8.3.3 Side reach</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure7">
		<figcaption class="h4">Figure 7: Obstructed high side reach </figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image7.png" alt="A diagram illustrating the content of clause 8.3.3.3" />
		<p>Related content:</p>
		<ul>
			<li><a href="#8.3.3.3">8.3.3.3 Obstructed side reach</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure8">
		<figcaption class="h4">Figure 8: Vertical change in level</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image8.png" alt="A diagram illustrating the content of clause 8.3.4.1 a)" />
		<p>Related content:</p>
		<ul>
			<li><a href="#8.3.4.1">8.3.4.1 Change in level - a) If the change in floor level is less than or equal to 6,4 mm (¼ inch) the change may be vertical as shown in Figure 8.</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure9">
		<figcaption class="h4">Figure 9: Bevelled change in level </figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image9.png" alt="A diagram illustrating the content of the text 8.3.4.1 b)" />
		<p>Related content:</p>
		<ul>
			<li><a href="#8.3.4.1">8.3.4.1 Change in level - b) If the change in floor level is less than or equal to 13 mm (½ inch) the change may have a slope not steeper than 1:2 as shown in Figure 9.</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure10">
		<figcaption class="h4">Figure 10: Clear floor or ground space</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image10.png" alt="A diagram illustrating the content of clause 8.3.4.2" />
		<p>Related content:</p>
		<ul>
			<li><a href="#8.3.4.2">8.3.4.2 Clear floor or ground space</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure11">
		<figcaption class="h4">Figure 11: Manoeuvring Clearance in an Alcove, Forward Approach</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image11.png" alt="A diagram illustrating the content of clause 8.3.4.3.2" />
		<p>Related content:</p>
		<ul>
			<li><a href="#8.3.4.3.2">8.3.4.3.2 Forward approach</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure12">
		<figcaption class="h4">Figure 12: Manoeuvring Clearance in an Alcove, Parallel Approach</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image12.png" alt="A diagram illustrating the content of clause 8.3.4.3.3" />
		<p>Related content:</p>
		<ul>
			<li><a href="#8.3.4.3.3">8.3.4.3.3 Parallel approach</a></li>
		</ul>
	</figure>
</div>

{% else %}

<div class="row wb-eqht">
	<figure class="col-lg-6" id="figure1">
		<figcaption class="h4">Figure 1 : Relation entre la hauteur minimale des caractères et la distance de visualisation du dessin maximale</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image1-fr.gif" alt="Un diagramme illustrant le contenu de la clause 5.1.4." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#5.1.4">5.1.4 Fonction restreinte à l’agrandissement du texte</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure2">
		<figcaption class="h4">Figure 2 : Portée avant libre </figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image2.png" alt="Un diagramme illustrant le contenu de la clause 8.3.2." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#8.3.2">8.3.2 Portée avant</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure3">
		<figcaption class="h4">Figure 3 : Portée avant obstruée</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image3.png" alt="Un diagramme illustrant le contenu des clauses 8.3.2.3.2 et 8.3.2.3.3." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#8.3.2.3.2">8.3.2.3.2 Portée avant obstruée (&lt510 mm)</a></li>
			<li><a href="#8.3.2.3.3">8.3.2.3.3 Portée avant obstruée (< 635 mm)</a>
			</li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure4">
		<figcaption class="h4">Figure 4 : Espace libre pour les pieds </figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image4.png" alt="Un diagramme illustrant le contenu de la clause 8.3.2.5." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#8.3.2.5">8.3.2.5 Espace libre pour les pieds</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure5">
		<figcaption class="h4">Figure 5 : Espace libre pour les genoux</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image5.png" alt="Un diagramme illustrant le contenu du texte 8.3.2.6 Espace libre pour les genoux." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#8.3.2.6">8.3.2.6 Espace libre pour les genoux</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure6">
		<figcaption class="h4">Figure 6 : Portée latérale libre</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image6.png" alt="Un diagramme illustrant le contenu de la clause 8.3.3." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#8.3.3">8.3.3 Portée latérale</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure7">
		<figcaption class="h4">Figure 7 : Portée latérale haute obstruée </figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image7.png" alt="Un diagramme illustrant le contenu de la clause 8.3.3.3." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#8.3.3.3">8.3.3.3 Portée latérale obstruée</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure8">
		<figcaption class="h4">Figure 8 : Changement de niveau vertical</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image8.png" alt="Un diagramme illustrant le contenu de la clause 8.3.4.1 a)." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#8.3.4.1">8.3.4.1 Changement de niveau - a) Si le changement de niveau du plancher est inférieur ou égal à 6,4 mm (1/4 po), le changement peut être vertical comme l’indique la figure 8.</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure9">
		<figcaption class="h4">Figure 9 : Changement de niveau en biseau</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image9.png" alt="Un diagramme illustrant le contenu de la clause 8.3.4.1 b)." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#8.3.4.1">8.3.4.1 Changement de niveau - b) Si le changement de niveau du plancher est inférieur ou égal à 13 mm (1/2 po), le changement peut présenter une pente d’au plus 1 :2 comme il est illustré à la figure 9.</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure10">
		<figcaption class="h4">Figure 10 : Surface au sol dégagée</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image10.png" alt="Un diagramme illustrant le contenu de la clause 8.3.4.2." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#8.3.4.2">8.3.4.2 Surface de plancher ou de sol dégagée</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure11">
		<figcaption class="h4">Figure 11 : Espace libre de manœuvre dans une alcôve, approche avant</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image11.png" alt="Un diagramme illustrant le contenu de la clause 8.3.4.3.2." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#8.3.4.3.2">8.3.4.3.2 Approche avant</a></li>
		</ul>
	</figure>
	<figure class="col-lg-6" id="figure12">
		<figcaption class="h4">Figure 12 : Espace libre de manœuvre dans une alcôve approche parallèle</figcaption> <img class="img-responsive" src="{{ rootPath }}img/requirements/image12.png" alt="Un diagramme illustrant le contenu de la clause 8.3.4.3.3." />
		<p>Contenu connexe:</p>
		<ul>
			<li><a href="#8.3.4.3.3">8.3.4.3.3 Approche parallèle</a></li>
		</ul>
	</figure>
</div>

{% endif %}
