{% if locale == "en" %}

## What is ICT?

Information and Communications Technology (ICT) includes hardware, software, voice communication, video capabilities and digital content (including web and non-web-based information).

## What is <abbr title="Information and Communications Technology">ICT</abbr> accessibility and why is it important?

<div>
  <blockquote cite="https://www.nascio.org/Publications/ArtMID/485/userid/4997/ArticleID/127/Accessibility-in-IT-Procurement-Part-1">
    <p>ICT accessibility ensures that people with and without disabilities can access the same information, perform the same tasks, and receive the same services using information technology. It is the digital equivalent to accessibility in the physical environment —the curb cuts, ramps, railings, etc., of the digital age. While <abbr title="Information and Communications Technology">ICT</abbr> accessibility can provide usability benefits to everyone who uses ICT, it is a vital necessity to many people with disabilities.</p>
  </blockquote>
  <p> - <cite><a href="https://www.nascio.org/Publications/ArtMID/485/userid/4997/ArticleID/127/Accessibility-in-IT-Procurement-Part-1">NASCIO - Accessibility in IT Procurement</a></cite></p>
</div>

## About this document and Copyright Notice

This document reproduces relevant <abbr title="Information and Communications Technology">ICT</abbr> accessibility requirements from CAN/ASC - EN 301 549:2024 Accessibility requirements for <abbr title="Information and Communications Technology">ICT</abbr> products and services (EN 301 549:2021, IDT) and has been reproduced with Accessibility Standards Canada’s authorization.

This document reproduces relevant <abbr title="Information and Communications Technology">ICT</abbr> accessibility requirements from the EN 301 549 v3.2.1 (2021-03) Harmonised European Standard – Accessibility requirements for <abbr title="Information and Communications Technology">ICT</abbr> products and services (© used under license from European Telecommunications Standards Institute 2021. © Comité Européen de Normalisation 2021. © Comité Européen de Normalisation Électrotechnique 2021. All rights reserved.), which includes the Web Content Accessibility Guidelines (WCAG) 2.1 level AA.

Intellectual Property Rights (IPRs) essential or potentially essential to normative deliverables may have been declared to ETSI. The information pertaining to these essential IPRs, if any, is publicly available for ETSI members and non-members, and can be found in ETSI SR 000 314: "Intellectual Property Rights (IPRs); Essential, or potentially Essential, IPRs notified to ETSI in respect of ETSI standards", which is available from the ETSI Secretariat. Latest updates are available on the ETSI Web server (<https://ipr.etsi.org/>). Please visit [ETSI IPR database](https://ipr.etsi.org/) to search for any IPRs.

At first glance, some requirements may appear to be unrelated to this product or service. They have been included for consideration since the full feature set of a Vendor’s product or service may not be known. For example, a video may be embedded into product documentation, so accessibility requirements for video and audio may become relevant.

Appendices include definitions and references.

Internal to this document references are included but not always linked (footnotes or otherwise).

The information in this document uses the language from Clauses 5-13 and Annex C Determination of conformance from the EN 301 549 v3.2.1 (2021-03) Harmonised European Standard – Accessibility requirements for <abbr title="Information and Communications Technology">ICT</abbr> products and services (the “Standard”). While the Standard has inconsistencies of how the Clause and Determination of conformance names are presented, due to technical reasons, the wording used for the Determination of conformance in this document, is the wording used for the Clause names in Clauses 5-13.

## Sources used to compile this document

- [CAN/ASC - EN 301 549:2024 Accessibility requirements for <abbr title="Information and Communications Technology">ICT</abbr> products and services (EN 301 549:2021, IDT)](https://accessible.canada.ca/en-301-549-accessibility-requirements-ict-products-and-services-1)
- [EN 301 549 v3.2.1 (2021-03) Harmonised European Standard - Accessibility requirements for <abbr title="Information and Communications Technology">ICT</abbr> products and services" (PDF)](https://www.etsi.org/deliver/etsi_en/301500_301599/301549/03.02.01_60/en_301549v030201p.pdf)
- [Web Content Accessibility Guidelines (WCAG) 2.1](http://www.w3.org/TR/WCAG21/) (W3C Recommendation 05 June 2018)
- [Understanding WCAG 2.1](http://www.w3.org/WAI/WCAG21/Understanding/)
- [How to Meet WCAG 2.1 (Quick Reference)](http://www.w3.org/WAI/WCAG21/quickref/)
- [ITI VPAT® EN 301 549 (EU) version](https://www.itic.org/policy/accessibility/vpat#:~:text=The%20Accessibility%20Conformance%20Report%20%28ACR%29%20based%20on%20the,technology%20%28ICT%29%20products%20and%20services%20with%20accessibility%20features.)

{% else %}

## Que sont les TIC?

Les technologies de l’information et des communications (<abbr>TIC</abbr>) comprennent le matériel, les logiciels, les communications vocales, les capacités vidéo et le contenu numérique (y compris l’information sur le Web et ailleurs).

## Qu’est-ce que l’accessibilité des <abbr title="technologies de l’information et des communications">TIC</abbr> et pourquoi est-elle importante?

<div>
  <blockquote cite="https://www.nascio.org/Publications/ArtMID/485/userid/4997/ArticleID/127/Accessibility-in-IT-Procurement-Part-1">
    <p>L’accessibilité des <abbr title="technologies de l’information et des communications">TIC</abbr> permet aux personnes handicapées et non handicapées d’accéder aux mêmes informations, d’accomplir les mêmes tâches et de recevoir les mêmes services grâce aux technologies de l’information. C’est l’équivalent numérique de l’accessibilité dans l’environnement physique – les bateaux de trottoir, les rampes d’accès, les garde-corps, etc. L’accessibilité des <abbr title="technologies de l’information et des communications">TIC</abbr> peut offrir des avantages en termes d’ergonomie à tous ceux qui utilisent les TIC, mais elle est essentielle pour de nombreuses personnes handicapées.</p>
  </blockquote>
  <p> - <cite><a href="https://www.nascio.org/Publications/ArtMID/485/userid/4997/ArticleID/127/Accessibility-in-IT-Procurement-Part-1">NASCIO - Accessibilité en matière d’acquisition de TI <span lang="fr">(en anglais seulement)</span>.</a></cite></p>
</div>

## À propos du présent document et avis de droit d’auteur

Le présent document reproduit les exigences pertinentes en matière d'accessibilité des <abbr title="technologies de l’information et des communications">TIC</abbr> de la norme CAN/ASC - EN 301 549:2024 Exigences d'accessibilité pour les produits et services <abbr title="technologies de l’information et des communications">TIC</abbr> (EN 301 549:2021, IDT) et a été reproduit avec l'autorisation de Normes d'accessibilité Canada.

Ce document reproduit les exigences pertinentes du EN 301 549 v3.2.1 (2021-03) norme européenne harmonisée « Exigences en accessibilité pour les produits et services en <abbr title="technologies de l’information et des communications">TIC</abbr> », disponible en anglais seulement, (© utilisé sous la licence de l’Institut Européen de Normalisation des Télécommunications 2021. © Comité Européen de Normalisation 2021. © Comité Européen de Normalisation Électrotechnique 2021. Tous droits réservés.), ce qui inclut les Règles pour l'accessibilité des contenus Web (WCAG) 2.1 de niveau AA.

Les droits de propriété intellectuelle (DPI) essentiels ou potentiellement essentiels aux livrables normatifs peuvent avoir été déclarés à l'ETSI. Les informations relatives à ces DPI essentiels, le cas échéant, sont accessibles au public pour les membres et les non-membres de l'ETSI, dans ETSI SR 000 314 : « Intellectual Property Rights (IPRs); Essential, or potentially Essential, IPRs notified to ETSI in respect of ETSI standards », disponible auprès du secrétariat de l'ETSI. Les dernières mises à jour sont disponibles sur le serveur Web ETSI (<https://ipr.etsi.org/>) <span lang="fr">(en anglais seulement)</span>. Veuillez consulter la <a href="https://ipr.etsi.org/">base de données ETSI IPR <span lang="fr">(en anglais seulement)</span></a> pour la recherche de DPI.

Le présent document contient des exigences qui, à première vue, peuvent sembler sans rapport avec ce produit ou de service. Elles ont été incluses aux fins de considération puisqu’il est impossible de savoir ce qui pourrait être inclus dans le produit ou service d’un fournisseur. Par exemple, une vidéo peut être intégrée à la documentation d’un produit et les exigences en matière d’accessibilité pour la vidéo et l’audio peuvent devenir pertinentes.

Les annexes comprennent des définitions et des références.

Les annexes comprennent des définitions, des références et un guide pratique portant sur la création d’une documentation accessible.

Les informations contenues dans ce document emploient le langage utilisé dans les clauses 5 à 13 et de l'annexe C "Détermination de la conformité" de la norme européenne harmonisée EN 301 549 v3.2.1 (2021-03) - Exigences en accessibilité pour les produits et services en <abbr title="technologies de l’information et des communications">TIC</abbr> (la "Norme"). Bien que la norme présente des incohérences dans la présentation des noms des clauses de même que des déterminations de conformité, et ce pour des raisons techniques, le libellé utilisé pour la détermination de la conformité dans ce document est le même que celui utilisé pour les noms des clauses dans les clauses 5 à 13.

## Sources utilisées pour compiler le présent document

- [CAN/ASC - EN 301 549:2024 Exigences d’accessibilité pour les produits et services <abbr title="technologies de l’information et des communications">TIC</abbr> (EN 301 549:2021, IDT)](https://accessibilite.canada.ca/en-301-549-exigences-daccessibilite-pour-les-produits-et-services-tic)
- <a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/03.02.01_60/en_301549v030201p.pdf">EN 301 549 v3.2.1 Norme européenne harmonisée – Exigences en matière d’accessibilité applicables aux produits et services liés aux TIC <span lang="fr">(en anglais seulement)</span></a>
- [Règles pour l’accessibilité des contenus Web (WCAG) 2.1](https://www.w3.org/Translations/WCAG21-fr/) (Recommandations de W3C du 5 juin 2018)
- <a href="https://www.w3.org/WAI/WCAG21/Understanding/">Comprendre les WCAG 2.1 <span lang="fr">(en anglais seulement)</span></a>
- <a href="http://www.w3.org/WAI/WCAG21/quickref/#top">Comment se conformer aux WCAG 2.1 (Référence rapide) <span lang="fr">(en anglais seulement)</span></a>
- <a href="https://www.itic.org/policy/accessibility/vpat#:~:text=The%20Accessibility%20Conformance%20Report%20%28ACR%29%20based%20on%20the,technology%20%28ICT%29%20products%20and%20services%20with%20accessibility%20features.">ITI VPAT ® EN 301 549 (EU) <span lang="fr">(en anglais seulement)</span></a>

{% endif %}
