{% if locale === "en" %}

## Part A - Functional performance statements

**4.2.1. Usage without vision:** Where ICT provides visual modes of operation, the ICT provides at least one mode of operation that does not require vision. This is essential for users without vision and benefits many more users in different situations.

- NOTE 1: A web page or application with a well formed semantic structure can allow users without vision to identify, navigate and interact with a visual user interface.
- NOTE 2: Audio and tactile user interfaces may contribute towards meeting this clause.

**4.2.2. Usage with limited vision:** Where ICT provides visual modes of operation, the ICT provides features that enable users to make better use of their limited vision. This is essential for users with limited vision and benefits many more users in different situations.

- NOTE 1: Magnification, reduction of required field of vision and control of contrast, brightness and intensity can contribute towards meeting this clause.
- NOTE 2: Where significant features of the user interface are dependent on depth perception, the provision of additional methods of distinguishing between the features may contribute towards meeting this clause.
- NOTE 3: Users with limited vision may also benefit from non-visual access (see clause 4.2.1).

**4.2.3. Usage without perception of colour:** Where ICT provides visual modes of operation, the ICT provides a visual mode of operation that does not require user perception of colour. This is essential for users with limited colour perception and benefits many more users in different situations.

- NOTE: Where significant features of the user interface are colour-coded, the provision of additional methods of distinguishing between the features may contribute towards meeting this clause.

**4.2.4. Usage without hearing:** Where ICT provides auditory modes of operation, the ICT provides at least one mode of operation that does not require hearing. This is essential for users without hearing and benefits many more users in different situations.

- NOTE: Visual and tactile user interfaces, including those based on sign language, may contribute towards meeting this clause.

**4.2.5. Usage with limited hearing:** Where ICT provides auditory modes of operation, the ICT provides enhanced audio features. This is essential for users with limited hearing and benefits many more users in different situations.

- NOTE 1: Enhancement of the audio clarity, reduction of background noise, providing a joint monaural option, adjustment of balance of both audio channels, increased range of volume and greater volume in the higher frequency range can contribute towards meeting this clause.
- NOTE 2: Allowing the use of Assistive Listening Devices, such as headsets with noise cancellation (connected by cable, Bluetooth or WLAN) can contribute towards meeting this clause.
- NOTE 3: Users with limited hearing may also benefit from non-hearing access (see clause 4.2.4).

**4.2.6. Usage with no or limited vocal capability:** Where ICT requires vocal input from users, the ICT provides at least one mode of operation that does not require them to generate vocal output. This is essential users with no or limited vocal capability and benefits many more users in different situations.

- NOTE 1: Vocal output includes speech and other orally generated sounds, such as whistles and clicks.
- NOTE 2: Keyboard, pen or touch user interfaces may contribute towards meeting this clause.

**4.2.7. Usage with limited manipulation or strength:** Where ICT requires manual actions, the ICT provides features that enable users to make use of the ICT through alternative actions not requiring manipulation, simultaneous action or hand strength. This is essential for users with limited manipulation or strength and benefits many more users in different situations.

- NOTE 1: Examples of operations that users may not be able to perform include those that require fine motor control, path dependant gestures, pinching, twisting of the wrist, tight grasping, or simultaneous manual actions.
- NOTE 2: One-handed operation, sequential key entry and speech user interfaces may contribute towards meeting this clause.
- NOTE 3: Some users have limited hand strength and may not be able to achieve the level of strength to perform an operation. Alternative user interface solutions that do not require hand strength may contribute towards meeting this clause.

**4.2.8. Usage with limited reach:** Where ICT products are free-standing or installed, all the elements required for operation will need to be within reach of all users. This is essential for users with limited reach and benefits many more users in different situations.

- NOTE: Considering the needs of wheelchair users and the range of user statures in the placing of operational elements of the user interface may contribute towards meeting this clause.

**4.2.9. Minimize photosensitive seizure triggers:** Where ICT provides visual modes of operation, the ICT provides **at least one mode of operation that minimizes** the potential for triggering photosensitive seizures. This is essential for users with photosensitive seizure triggers.

- NOTE: Limiting the area and number of flashes per second may contribute towards meeting this clause.

**4.2.10. Usage with limited cognition, language or learning:** The ICT provides features and/or presentation that makes it simpler and easier to understand, operate and use. This is essential for users with limited cognition, language or learning, and benefits many more users in different situations.

- NOTE 1: Adjustable timings, error indication and suggestion, and a logical focus order are examples of design features that may contribute towards meeting this clause.
- NOTE 2: Providing an audio output of the text is an example of providing support for people with limited reading abilities.
- NOTE 3: Providing spelling aid and word prediction of the text is an example of providing support for people with limited writing abilities.
- NOTE 4: Interaction with content can be made easier, and less prone to errors, by presenting tasks in steps that are easy to follow..

**4.2.11. Privacy:** Where ICT provides features for accessibility, the ICT maintains the privacy of users of these features at the same level as other users.

NOTE: Enabling the connection of personal headsets for private listening, not providing a spoken version of characters being masked and enabling user control of legal, financial and personal data are examples of design features that may contribute towards meeting this clause.

{% else %}

## Partie A - Énoncés de rendement fonctionnel

**4.2.1 Utilisation sans vision** : Lorsque les TIC prévoient un mode de fonctionnement visuel, les TIC fournissent au moins un mode de fonctionnement qui ne requiert pas la vision. Ceci est essentiel pour les utilisateurs sans vision et profite à beaucoup d’autres utilisateurs dans différentes situations.

- REMARQUE 1 : Une page Web ou une application ayant une structure sémantique bien formée peut permettre aux utilisateurs sans vision de naviguer dans une interface utilisateur visuelle et d’interagir avec celle-ci.
- REMARQUE 2 : Les interfaces utilisateur audio et tactiles peuvent contribuer au respect de cette clause.

**4.2.2 Utilisation avec vision limitée :** Lorsque les TIC prévoient un mode de fonctionnement visuel, certains utilisateurs auront besoin de TIC avec des fonctions leur permettant de mieux utiliser leur vision limitée.

- REMARQUE 1 : Le grossissement, la réduction du champ de vision requis et le contrôle du contraste, de la luminosité et de l’intensité peuvent contribuer au respect de cette clause.
- REMARQUE 2 : Lorsque des caractéristiques importantes de l’interface utilisateur dépendent de la perception de la profondeur, la fourniture de méthodes supplémentaires de distinction entre les caractéristiques peut contribuer au respect de cette clause.
- REMARQUE 3 : Les utilisateurs ayant une vision limitée peuvent également bénéficier d’un accès non visuel (voir la clause 4.2.1).

**4.2.3 Utilisation sans perception des couleurs :** Lorsque les TIC prévoient un mode de fonctionnement visuel, certains utilisateurs auront besoin de TIC avec un mode de fonctionnement visuel qui n’exige pas la perception des couleurs par les utilisateurs. Ceci est essentiel pour les utilisateurs ayant une perception limitée des couleurs et aussi bénéfique à plusieurs autres dans différentes situations.

- REMARQUE : Lorsque des caractéristiques importantes de l’interface utilisateur sont codées par couleur, l’ajout de méthodes supplémentaires de distinction entre les caractéristiques peut contribuer au respect de cette clause.

**4.2.4 Utilisation sans audition :** Lorsque les TIC prévoient un mode de fonctionnement sonore, certains utilisateurs auront besoin de TIC avec au moins un mode de fonctionnement qui ne requiert pas l’audition. Ceci est essentiel pour les utilisateurs sans audition et aussi bénéfique à plusieurs autres dans différentes situations.

- REMARQUE : Les interfaces utilisateur visuelles et tactiles peuvent contribuer au respect de cette clause.

**4.2.5 Utilisation avec audition limitée :** Lorsque les TIC prévoient un mode de fonctionnement sonore, certains utilisateurs auront besoin des TIC avec des fonctions audio améliorées. Ceci est essentiel pour les utilisateurs ayant une audition limitée et aussi bénéfique à plusieurs autres dans différentes situations.

- REMARQUE 1 : L’amélioration de la clarté audio, la réduction du bruit de fond, l’offre d’une option monaurale commune, le réglage d’équilibre des deux canaux audio, l’augmentation de la plage de volume et l’augmentation du volume dans la plage de fréquences supérieures peuvent contribuer au respect de cette clause.
- REMARQUE 2 : Permettre l'utilisation d’aides de suppléance à l’audition, tel que des casques avec annulation du bruit (connectés par câble, Bluetooth ou WLAN) peuvent contribuer au respect de cette clause.
- REMARQUE 3 : Les utilisateurs ayant une audition limitée peuvent également bénéficier d’un accès non auditif (voir la clause 4.2.4).

**4.2.6 **Utilisation sans capacité vocale ou avec une capacité vocale limitée** :** Lorsque les TIC nécessitent la contribution vocale des utilisateurs, certains utilisateurs auront besoin des TIC pour fournir au moins un mode de fonctionnement qui n’exige pas d’entrée vocale. Ceci est essentiel pour les utilisateurs sans capacité vocale ou ayant une capacité vocale limitée et est bénéfique à plusieurs autres dans différentes situations.

- REMARQUE 1 : La sortie vocale comprend la parole et d’autres sons générés oralement, comme des sifflements et des clics.
- REMARQUE 2 : Le clavier, le stylo ou les interfaces utilisateur tactiles peuvent contribuer au respect de cette clause.

**4.2.7 Utilisation avec une capacité de manipulation ou de force limitée :** Lorsque les TIC nécessitent des actions manuelles, certains utilisateurs auront besoin de TIC avec des caractéristiques qui permettent aux utilisateurs d’utiliser les TIC par d’autres actions ne nécessitant aucune manipulation, actions simultanées ou force manuelle. Ceci est essentiel pour les utilisateurs ayant une capacité de manipulation ou de force limitée et aussi bénéfique à plusieurs autres dans différentes situations.

- REMARQUE 1 : Parmi les exemples d’opérations que les utilisateurs peuvent ne pas être en mesure d’effectuer, mentionnons celles qui nécessitent un contrôle de la motricité fine, des gestes dépendant de la trajectoire, un pincement, une torsion du poignet, une prise ferme ou des actions manuelles simultanées.
- REMARQUE 2 : L’utilisation d’une seule main, la saisie séquentielle des touches et les interfaces utilisateur vocales peuvent contribuer au respect de cette clause.
- REMARQUE 3 : Certains utilisateurs ont une force de la main limitée et peuvent ne pas être en mesure d’atteindre le niveau de force nécessaire pour effectuer une opération. D’autres solutions d’interface utilisateur qui ne nécessitent pas de force manuelle peuvent contribuer au respect de cette clause.

**4.2.8 Utilisation à portée limitée :** Lorsque les produits des TIC sont autonomes ou installés, tous les éléments requis pour les opérations doivent être à la portée de tous les utilisateurs. Ceci est essentiel pour les utilisateurs ayant une portée limitée et aussi bénéfique à plusieurs autres dans différentes situations.

- REMARQUE : La prise en compte des besoins des utilisateurs de fauteuils roulants et de l’éventail de statures d’utilisateur dans la disposition des éléments opérationnels de l’interface utilisateur peut contribuer au respect de cette clause.

**4.2.9 Minimiser les déclencheurs de convulsions liées à une condition photosensible :** lorsque les TIC prévoient un mode de fonctionnement visuel, certains utilisateurs ont besoin de TIC avec au moins un mode de fonctionnement qui minimise le risque de déclencher des convulsions liées à une condition photosensible. Ceci est essentiel pour les utilisateurs présentant des déclencheurs de crise photosensibles.

- REMARQUE : Le fait de limiter la zone et le nombre d’éclairs par seconde peut contribuer à respecter cette clause.

**4.2.10 Utilisation avec des capacités cognitives, linguistiques ou d’apprentissage limitées :** Les TIC fournissent des fonctions et/ou une présentation qui simplifient la compréhension, le fonctionnement et l’utilisation. Ceci est essentiel pour les utilisateurs ayant des **capacités cognitives, linguistiques ou d’apprentissage limitées** et aussi bénéfique à plusieurs autres dans différentes situations.

- REMARQUE 1 : Les temporisations ajustables, l’indication et la suggestion d’erreurs, ainsi qu’un ordre de mise au point logique sont des exemples de caractéristiques de conception qui peuvent contribuer au respect de cette clause.
- REMARQUE 2 : Fournir un audio du texte est un exemple de soutien pour les personnes ayant des capacités de lecture limitées.
- REMARQUE 3 : Fournir une assistance orthographique et la prédiction des mots du texte sont des exemples de soutien pour les personnes ayant des capacités d'écriture limitées.
- REMARQUE 4 : L’interaction avec le contenu peut être facilitée, et moins sujette aux erreurs, en présentant les tâches par étapes faciles à suivre.

**4.2.11. Confidentialité :** Lorsque les TIC fournissent des fonctions d’accessibilité, elles préservent la confidentialité des utilisateurs de ces fonctions au même niveau que celle des autres utilisateurs.

- REMARQUE : Permettre la connexion de casques d’écoute personnels pour une écoute privée, ne pas fournir une version orale des caractères masqués et permettre à l’utilisateur de contrôler les données juridiques, financières et personnelles sont des exemples de caractéristiques de conception qui peuvent contribuer au respect de cette clause.

{% endif %}
