{% if locale === "en" %}

## Part B - Functional accessibility requirements

### Explanation of the table columns

- **"EN 301 549 clause"** includes all clauses of the EN 301 549 v3.2.1 that may apply to the ICT product or service. If WCAG 2.1 is referenced, we include the full text of the WCAG success criterion along with links to the criterion, “Understanding the requirement”, “How to meet the requirement” and definitions of standardized words.
- **"Determination of conformance"** describes how to test if you have met the requirement. These are copied from EN 301 549 v3.2.1 Annex C. More information can also be found in Annex – Chapter 14 Conformance.

{% else %}

## Partie B - Exigences en matière d’accessibilité fonctionnelle

### Explication des colonnes du tableau

- **« Clause de la norme EN 301 549 »** comprend toutes les clauses de la norme EN 301 549 V3.2.1 qui peuvent s’appliquer au produit ou au service lié aux TIC. Si les WCAG 2.1 sont applicables, nous inclurons le texte intégral du critère et des liens vers les critères « Comprendre les exigences » et « Comment se conformer aux exigences », ainsi que des définitions des mots normalisés.
- **« Détermination de la conformité »** comprend les renseignements utilisés pour déterminer si vous avez satisfait à l’exigence. Elle est copiée de l’annexe C de la norme EN 301 549 V3.2.1 Annex C. Plus d’informations peut être également trouvé dans l’Annexe – Chapitre 14 - Conformité.

{% endif %}
