{% if locale === "en" %}

### Scope

The following Functional Accessibility Requirements are applicable to the Functional Performance Statements in Part A. If a solution meets all of these it is considered to have met the Functional Performance Statements and is therefore deemed to conform with EN 301 549 v3.2.1.

<p><a href="#centred-popup" aria-controls="centred-popup" class="wb-lbx btn btn-primary btn-lg mrgn-bttm-md" role="button">Clauses</a></p>
<section id="centred-popup" class="mfp-hide modal-dialog modal-content overlay-def">
	<header class="modal-header">
		<h4 class="modal-title">Clauses</h4>
	</header>
	<div class="modal-body">
		<ul class="colcount-sm-4 colcount-xs-2">
			<li>5</li>
			<li>5.1</li>
			<li>5.1.1</li>
			<li>5.1.2</li>
			<li>5.1.2.1</li>
			<li>5.1.2.2</li>
			<li>5.1.3</li>
			<li>5.1.3.1</li>
			<li>5.1.3.2</li>
			<li>5.1.3.3</li>
			<li>5.1.3.4</li>
			<li>5.1.3.5</li>
			<li>5.1.3.6</li>
			<li>5.1.3.7</li>
			<li>5.1.3.8</li>
			<li>5.1.3.9</li>
			<li>5.1.3.10</li>
			<li>5.1.3.11</li>
			<li>5.1.3.12</li>
			<li>5.1.3.13</li>
			<li>5.1.3.14</li>
			<li>5.1.3.15</li>
			<li>5.1.3.16</li>
			<li>5.1.4</li>
			<li>5.1.5</li>
			<li>5.1.6</li>
			<li>5.1.6.1</li>
			<li>5.1.6.2</li>
			<li>5.1.7</li>
			<li>5.2</li>
			<li>5.3</li>
			<li>5.4</li>
			<li>5.5</li>
			<li>5.5.1</li>
			<li>5.5.2</li>
			<li>5.6</li>
			<li>5.6.1</li>
			<li>5.6.2</li>
			<li>5.7</li>
			<li>5.8</li>
			<li>5.9</li>
			<li>6</li>
			<li>6.1</li>
			<li>6.2</li>
			<li>6.2.1</li>
			<li>6.2.1.1</li>
			<li>6.2.1.2</li>
			<li>6.2.2</li>
			<li>6.2.2.1</li>
			<li>6.2.2.2</li>
			<li>6.2.2.3</li>
			<li>6.2.2.4</li>
			<li>6.2.3</li>
			<li>6.2.4</li>
			<li>6.3</li>
			<li>6.4</li>
			<li>6.5</li>
			<li>6.5.1</li>
			<li>6.5.2</li>
			<li>6.5.3</li>
			<li>6.5.4</li>
			<li>6.5.5</li>
			<li>6.5.6</li>
			<li>6.6</li>
			<li>7</li>
			<li>7.1</li>
			<li>7.1.1</li>
			<li>7.1.2</li>
			<li>7.1.3</li>
			<li>7.1.4</li>
			<li>7.1.5</li>
			<li>7.2</li>
			<li>7.2.1</li>
			<li>7.2.2</li>
			<li>7.2.3</li>
			<li>7.3</li>
			<li>8</li>
			<li>8.1</li>
			<li>8.1.1</li>
			<li>8.1.2</li>
			<li>8.1.3</li>
			<li>8.2</li>
			<li>8.2.1</li>
			<li>8.2.1.1</li>
			<li>8.2.1.2</li>
			<li>8.2.2</li>
			<li>8.2.2.1</li>
			<li>8.2.2.2</li>
			<li>8.3</li>
			<li>8.3.0</li>
			<li>8.3.1</li>
			<li>8.3.2</li>
			<li>8.3.2.1</li>
			<li>8.3.2.2</li>
			<li>8.3.2.3</li>
			<li>8.3.2.3.1</li>
			<li>8.3.2.3.2</li>
			<li>8.3.2.3.3</li>
			<li>8.3.2.4</li>
			<li>8.3.2.5</li>
			<li>8.3.2.6</li>
			<li>8.3.3</li>
			<li>8.3.3.1</li>
			<li>8.3.3.2</li>
			<li>8.3.3.3</li>
			<li>8.3.3.3.1</li>
			<li>8.3.3.3.2</li>
			<li>8.3.4</li>
			<li>8.3.4.1</li>
			<li>8.3.4.2</li>
			<li>8.3.4.3</li>
			<li>8.3.4.3.1</li>
			<li>8.3.4.3.2</li>
			<li>8.3.4.3.3</li>
			<li>8.3.5</li>
			<li>8.3.6</li>
			<li>8.4</li>
			<li>8.4.1</li>
			<li>8.4.2</li>
			<li>8.4.2.1</li>
			<li>8.4.2.2</li>
			<li>8.4.3</li>
			<li>8.5</li>
			<li>9</li>
			<li>9.0</li>
			<li>9.1</li>
			<li>9.1.1</li>
			<li>9.1.1.1</li>
			<li>9.1.2</li>
			<li>9.1.2.1</li>
			<li>9.1.2.2</li>
			<li>9.1.2.3</li>
			<li>9.1.2.4</li>
			<li>9.1.2.5</li>
			<li>9.1.3</li>
			<li>9.1.3.1</li>
			<li>9.1.3.2</li>
			<li>9.1.3.3</li>
			<li>9.1.3.4</li>
			<li>9.1.3.5</li>
			<li>9.1.4</li>
			<li>9.1.4.1</li>
			<li>9.1.4.2</li>
			<li>9.1.4.3</li>
			<li>9.1.4.4</li>
			<li>9.1.4.5</li>
			<li>9.1.4.6</li>
			<li>9.1.4.7</li>
			<li>9.1.4.8</li>
			<li>9.1.4.9</li>
			<li>9.1.4.10</li>
			<li>9.1.4.11</li>
			<li>9.1.4.12</li>
			<li>9.1.4.13</li>
			<li>9.2</li>
			<li>9.2.1</li>
			<li>9.2.1.1</li>
			<li>9.2.1.2</li>
			<li>9.2.1.3</li>
			<li>9.2.1.4</li>
			<li>9.2.2</li>
			<li>9.2.2.1</li>
			<li>9.2.2.2</li>
			<li>9.2.3</li>
			<li>9.2.3.1</li>
			<li>9.2.4</li>
			<li>9.2.4.1</li>
			<li>9.2.4.2</li>
			<li>9.2.4.3</li>
			<li>9.2.4.4</li>
			<li>9.2.4.5</li>
			<li>9.2.4.6</li>
			<li>9.2.4.7</li>
			<li>9.2.5</li>
			<li>9.2.5.1</li>
			<li>9.2.5.2</li>
			<li>9.2.5.3</li>
			<li>9.2.5.4</li>
			<li>9.3</li>
			<li>9.3.1</li>
			<li>9.3.1.1</li>
			<li>9.3.1.2</li>
			<li>9.3.2</li>
			<li>9.3.2.1</li>
			<li>9.3.2.2</li>
			<li>9.3.2.3</li>
			<li>9.3.2.4</li>
			<li>9.3.3</li>
			<li>9.3.3.1</li>
			<li>9.3.3.2</li>
			<li>9.3.3.3</li>
			<li>9.3.3.4</li>
			<li>9.4</li>
			<li>9.4.1</li>
			<li>9.4.1.1</li>
			<li>9.4.1.2</li>
			<li>9.4.1.3</li>
			<li>9.5</li>
			<li>9.6</li>
			<li>10</li>
			<li>10.0</li>
			<li>10.1</li>
			<li>10.1.1</li>
			<li>10.1.1.1</li>
			<li>10.1.2</li>
			<li>10.1.2.1</li>
			<li>10.1.2.2</li>
			<li>10.1.2.3</li>
			<li>10.1.2.4</li>
			<li>10.1.2.5</li>
			<li>10.1.3</li>
			<li>10.1.3.1</li>
			<li>10.1.3.2</li>
			<li>10.1.3.3</li>
			<li>10.1.3.4</li>
			<li>10.1.3.5</li>
			<li>10.1.4</li>
			<li>10.1.4.1</li>
			<li>10.1.4.2</li>
			<li>10.1.4.3</li>
			<li>10.1.4.4</li>
			<li>10.1.4.5</li>
			<li>10.1.4.6</li>
			<li>10.1.4.7</li>
			<li>10.1.4.8</li>
			<li>10.1.4.9</li>
			<li>10.1.4.10</li>
			<li>10.1.4.11</li>
			<li>10.1.4.12</li>
			<li>10.1.4.13</li>
			<li>10.2</li>
			<li>10.2.1</li>
			<li>10.2.1.1</li>
			<li>10.2.1.2</li>
			<li>10.2.1.3</li>
			<li>10.2.1.4</li>
			<li>10.2.2</li>
			<li>10.2.2.1</li>
			<li>10.2.2.2</li>
			<li>10.2.3</li>
			<li>10.2.3.1</li>
			<li>10.2.4</li>
			<li>10.2.4.1</li>
			<li>10.2.4.2</li>
			<li>10.2.4.3</li>
			<li>10.2.4.4</li>
			<li>10.2.4.5</li>
			<li>10.2.4.6</li>
			<li>10.2.4.7</li>
			<li>10.2.5</li>
			<li>10.2.5.1</li>
			<li>10.2.5.2</li>
			<li>10.2.5.3</li>
			<li>10.2.5.4</li>
			<li>10.3</li>
			<li>10.3.1</li>
			<li>10.3.1.1</li>
			<li>10.3.1.2</li>
			<li>10.3.2</li>
			<li>10.3.2.1</li>
			<li>10.3.2.2</li>
			<li>10.3.2.3</li>
			<li>10.3.2.4</li>
			<li>10.3.3</li>
			<li>10.3.3.1</li>
			<li>10.3.3.2</li>
			<li>10.3.3.3</li>
			<li>10.3.3.4</li>
			<li>10.4</li>
			<li>10.4.1</li>
			<li>10.4.1.1</li>
			<li>10.4.1.2</li>
			<li>10.4.1.3</li>
			<li>10.5</li>
			<li>10.6</li>
			<li>11</li>
			<li>11.0</li>
			<li>11.1</li>
			<li>11.1.1</li>
			<li>11.1.1.1</li>
			<li>11.1.1.1.1</li>
			<li>11.1.1.1.2</li>
			<li>11.1.2</li>
			<li>11.1.2.1</li>
			<li>11.1.2.1.1</li>
			<li>11.1.2.1.2</li>
			<li>11.1.2.1.2.1</li>
			<li>11.1.2.1.2.2</li>
			<li>11.1.2.2</li>
			<li>11.1.2.3</li>
			<li>11.1.2.3.1</li>
			<li>11.1.2.3.2</li>
			<li>11.1.2.4</li>
			<li>11.1.2.5</li>
			<li>11.1.3</li>
			<li>11.1.3.1</li>
			<li>11.1.3.1.1</li>
			<li>11.1.3.1.2</li>
			<li>11.1.3.2</li>
			<li>11.1.3.2.1</li>
			<li>11.1.3.2.2</li>
			<li>11.1.3.3</li>
			<li>11.1.3.4</li>
			<li>11.1.3.5</li>
			<li>11.1.3.5.1</li>
			<li>11.1.3.5.2</li>
			<li>11.1.4</li>
			<li>11.1.4.1</li>
			<li>11.1.4.2</li>
			<li>11.1.4.3</li>
			<li>11.1.4.4</li>
			<li>11.1.4.4.1</li>
			<li>11.1.4.4.2</li>
			<li>11.1.4.5</li>
			<li>11.1.4.5.1</li>
			<li>11.1.4.5.2</li>
			<li>11.1.4.6</li>
			<li>11.1.4.7</li>
			<li>11.1.4.8</li>
			<li>11.1.4.9</li>
			<li>11.1.4.10</li>
			<li>11.1.4.11</li>
			<li>11.1.4.12</li>
			<li>11.1.4.13</li>
			<li>11.2</li>
			<li>11.2.1</li>
			<li>11.2.1.1</li>
			<li>11.2.1.1.1</li>
			<li>11.2.1.1.2</li>
			<li>11.2.1.2</li>
			<li>11.2.1.3</li>
			<li>11.2.1.4</li>
			<li>11.2.1.4.1</li>
			<li>11.2.1.4.2</li>
			<li>11.2.2</li>
			<li>11.2.2.1</li>
			<li>11.2.2.2</li>
			<li>11.2.3</li>
			<li>11.2.3.1</li>
			<li>11.2.4</li>
			<li>11.2.4.1</li>
			<li>11.2.4.2</li>
			<li>11.2.4.3</li>
			<li>11.2.4.4</li>
			<li>11.2.4.5 </li>
			<li>11.2.4.6</li>
			<li>11.2.4.7</li>
			<li>11.2.5</li>
			<li>11.2.5.1</li>
			<li>11.2.5.2</li>
			<li>11.2.5.3</li>
			<li>11.2.5.3.1</li>
			<li>11.2.5.3.2</li>
			<li>11.2.5.4</li>
			<li>11.3</li>
			<li>11.3.1</li>
			<li>11.3.1.1</li>
			<li>11.3.1.1.1</li>
			<li>11.3.1.1.2</li>
			<li>11.3.1.2</li>
			<li>11.3.2</li>
			<li>11.3.2.1</li>
			<li>11.3.2.2</li>
			<li>11.3.2.3</li>
			<li>11.3.2.4</li>
			<li>11.3.3</li>
			<li>11.3.3.1</li>
			<li>11.3.3.1.1</li>
			<li>11.3.3.1.2</li>
			<li>11.3.3.2</li>
			<li>11.3.3.3</li>
			<li>11.3.3.4</li>
			<li>11.4</li>
			<li>11.4.1</li>
			<li>11.4.1.1</li>
			<li>11.4.1.1.1</li>
			<li>11.4.1.1.2</li>
			<li>11.4.1.2</li>
			<li>11.4.1.2.1</li>
			<li>11.4.1.2.2</li>
			<li>11.4.1.3</li>
			<li>11.4.1.3.1</li>
			<li>11.4.1.3.2</li>
			<li>11.5</li>
			<li>11.5.1</li>
			<li>11.5.2</li>
			<li>11.5.2.1</li>
			<li>11.5.2.2</li>
			<li>11.5.2.3</li>
			<li>11.5.2.4</li>
			<li>11.5.2.5</li>
			<li>11.5.2.6</li>
			<li>11.5.2.7</li>
			<li>11.5.2.8</li>
			<li>11.5.2.9</li>
			<li>11.5.2.10</li>
			<li>11.5.2.11</li>
			<li>11.5.2.12</li>
			<li>11.5.2.13</li>
			<li>11.5.2.14</li>
			<li>11.5.2.15</li>
			<li>11.5.2.16</li>
			<li>11.5.2.17</li>
			<li>11.6</li>
			<li>11.6.1</li>
			<li>11.6.2</li>
			<li>11.7</li>
			<li>11.8</li>
			<li>11.8.0</li>
			<li>11.8.1</li>
			<li>11.8.2</li>
			<li>11.8.3</li>
			<li>11.8.4</li>
			<li>11.8.5</li>
			<li>12</li>
			<li>12.1</li>
			<li>12.1.1</li>
			<li>12.1.2</li>
			<li>12.2</li>
			<li>12.2.1</li>
			<li>12.2.2</li>
			<li>12.2.3</li>
			<li>12.2.4</li>
			<li>13</li>
			<li>13.1</li>
			<li>13.1.1</li>
			<li>13.1.2</li>
			<li>13.1.3</li>
			<li>13.1.4</li>
			<li>13.1.5</li>
			<li>13.1.6</li>
			<li>13.2 and 13.3 have been deemed relevant to this ICT.</li>
		</ul>
	</div>
</section>

{% else %}

### Portée

Les exigences en matière d’accessibilité fonctionnelle suivantes s’appliquent aux énoncés de rendement fonctionnel de la partie A. Si une solution répond à toutes ces exigences, elle est considérée comme ayant satisfait aux énoncés de rendement fonctionnel et est donc jugée conforme à la norme EN 301 549 V3.2.1.

<p><a href="#centred-popup" aria-controls="centred-popup" class="wb-lbx btn btn-primary btn-lg mrgn-bttm-md" role="button">Les clauses</a></p>

<section id="centred-popup" class="mfp-hide modal-dialog modal-content overlay-def">
	<header class="modal-header">
		<h4 class="modal-title">Les clauses</h4>
	</header>
	<div class="modal-body">
		<ul class="colcount-sm-4 colcount-xs-2">
			<li>5</li>
			<li>5.1</li>
			<li>5.1.1</li>
			<li>5.1.2</li>
			<li>5.1.2.1</li>
			<li>5.1.2.2</li>
			<li>5.1.3</li>
			<li>5.1.3.1</li>
			<li>5.1.3.2</li>
			<li>5.1.3.3</li>
			<li>5.1.3.4</li>
			<li>5.1.3.5</li>
			<li>5.1.3.6</li>
			<li>5.1.3.7</li>
			<li>5.1.3.8</li>
			<li>5.1.3.9</li>
			<li>5.1.3.10</li>
			<li>5.1.3.11</li>
			<li>5.1.3.12</li>
			<li>5.1.3.13</li>
			<li>5.1.3.14</li>
			<li>5.1.3.15</li>
			<li>5.1.3.16</li>
			<li>5.1.4</li>
			<li>5.1.5</li>
			<li>5.1.6</li>
			<li>5.1.6.1</li>
			<li>5.1.6.2</li>
			<li>5.1.7</li>
			<li>5.2</li>
			<li>5.3</li>
			<li>5.4</li>
			<li>5.5</li>
			<li>5.5.1</li>
			<li>5.5.2</li>
			<li>5.6</li>
			<li>5.6.1</li>
			<li>5.6.2</li>
			<li>5.7</li>
			<li>5.8</li>
			<li>5.9</li>
			<li>6</li>
			<li>6.1</li>
			<li>6.2</li>
			<li>6.2.1</li>
			<li>6.2.1.1</li>
			<li>6.2.1.2</li>
			<li>6.2.2</li>
			<li>6.2.2.1</li>
			<li>6.2.2.2</li>
			<li>6.2.2.3</li>
			<li>6.2.2.4</li>
			<li>6.2.3</li>
			<li>6.2.4</li>
			<li>6.3</li>
			<li>6.4</li>
			<li>6.5</li>
			<li>6.5.1</li>
			<li>6.5.2</li>
			<li>6.5.3</li>
			<li>6.5.4</li>
			<li>6.5.5</li>
			<li>6.5.6</li>
			<li>6.6</li>
			<li>7</li>
			<li>7.1</li>
			<li>7.1.1</li>
			<li>7.1.2</li>
			<li>7.1.3</li>
			<li>7.1.4</li>
			<li>7.1.5</li>
			<li>7.2</li>
			<li>7.2.1</li>
			<li>7.2.2</li>
			<li>7.2.3</li>
			<li>7.3</li>
			<li>8</li>
			<li>8.1</li>
			<li>8.1.1</li>
			<li>8.1.2</li>
			<li>8.1.3</li>
			<li>8.2</li>
			<li>8.2.1</li>
			<li>8.2.1.1</li>
			<li>8.2.1.2</li>
			<li>8.2.2</li>
			<li>8.2.2.1</li>
			<li>8.2.2.2</li>
			<li>8.3</li>
			<li>8.3.0</li>
			<li>8.3.1</li>
			<li>8.3.2</li>
			<li>8.3.2.1</li>
			<li>8.3.2.2</li>
			<li>8.3.2.3</li>
			<li>8.3.2.3.1</li>
			<li>8.3.2.3.2</li>
			<li>8.3.2.3.3</li>
			<li>8.3.2.4</li>
			<li>8.3.2.5</li>
			<li>8.3.2.6</li>
			<li>8.3.3</li>
			<li>8.3.3.1</li>
			<li>8.3.3.2</li>
			<li>8.3.3.3</li>
			<li>8.3.3.3.1</li>
			<li>8.3.3.3.2</li>
			<li>8.3.4</li>
			<li>8.3.4.1</li>
			<li>8.3.4.2</li>
			<li>8.3.4.3</li>
			<li>8.3.4.3.1</li>
			<li>8.3.4.3.2</li>
			<li>8.3.4.3.3</li>
			<li>8.3.5</li>
			<li>8.3.6</li>
			<li>8.4</li>
			<li>8.4.1</li>
			<li>8.4.2</li>
			<li>8.4.2.1</li>
			<li>8.4.2.2</li>
			<li>8.4.3</li>
			<li>8.5</li>
			<li>9</li>
			<li>9.0</li>
			<li>9.1</li>
			<li>9.1.1</li>
			<li>9.1.1.1</li>
			<li>9.1.2</li>
			<li>9.1.2.1</li>
			<li>9.1.2.2</li>
			<li>9.1.2.3</li>
			<li>9.1.2.4</li>
			<li>9.1.2.5</li>
			<li>9.1.3</li>
			<li>9.1.3.1</li>
			<li>9.1.3.2</li>
			<li>9.1.3.3</li>
			<li>9.1.3.4</li>
			<li>9.1.3.5</li>
			<li>9.1.4</li>
			<li>9.1.4.1</li>
			<li>9.1.4.2</li>
			<li>9.1.4.3</li>
			<li>9.1.4.4</li>
			<li>9.1.4.5</li>
			<li>9.1.4.6</li>
			<li>9.1.4.7</li>
			<li>9.1.4.8</li>
			<li>9.1.4.9</li>
			<li>9.1.4.10</li>
			<li>9.1.4.11</li>
			<li>9.1.4.12</li>
			<li>9.1.4.13</li>
			<li>9.2</li>
			<li>9.2.1</li>
			<li>9.2.1.1</li>
			<li>9.2.1.2</li>
			<li>9.2.1.3</li>
			<li>9.2.1.4</li>
			<li>9.2.2</li>
			<li>9.2.2.1</li>
			<li>9.2.2.2</li>
			<li>9.2.3</li>
			<li>9.2.3.1</li>
			<li>9.2.4</li>
			<li>9.2.4.1</li>
			<li>9.2.4.2</li>
			<li>9.2.4.3</li>
			<li>9.2.4.4</li>
			<li>9.2.4.5</li>
			<li>9.2.4.6</li>
			<li>9.2.4.7</li>
			<li>9.2.5</li>
			<li>9.2.5.1</li>
			<li>9.2.5.2</li>
			<li>9.2.5.3</li>
			<li>9.2.5.4</li>
			<li>9.3</li>
			<li>9.3.1</li>
			<li>9.3.1.1</li>
			<li>9.3.1.2</li>
			<li>9.3.2</li>
			<li>9.3.2.1</li>
			<li>9.3.2.2</li>
			<li>9.3.2.3</li>
			<li>9.3.2.4</li>
			<li>9.3.3</li>
			<li>9.3.3.1</li>
			<li>9.3.3.2</li>
			<li>9.3.3.3</li>
			<li>9.3.3.4</li>
			<li>9.4</li>
			<li>9.4.1</li>
			<li>9.4.1.1</li>
			<li>9.4.1.2</li>
			<li>9.4.1.3</li>
			<li>9.5</li>
			<li>9.6</li>
			<li>10</li>
			<li>10.0</li>
			<li>10.1</li>
			<li>10.1.1</li>
			<li>10.1.1.1</li>
			<li>10.1.2</li>
			<li>10.1.2.1</li>
			<li>10.1.2.2</li>
			<li>10.1.2.3</li>
			<li>10.1.2.4</li>
			<li>10.1.2.5</li>
			<li>10.1.3</li>
			<li>10.1.3.1</li>
			<li>10.1.3.2</li>
			<li>10.1.3.3</li>
			<li>10.1.3.4</li>
			<li>10.1.3.5</li>
			<li>10.1.4</li>
			<li>10.1.4.1</li>
			<li>10.1.4.2</li>
			<li>10.1.4.3</li>
			<li>10.1.4.4</li>
			<li>10.1.4.5</li>
			<li>10.1.4.6</li>
			<li>10.1.4.7</li>
			<li>10.1.4.8</li>
			<li>10.1.4.9</li>
			<li>10.1.4.10</li>
			<li>10.1.4.11</li>
			<li>10.1.4.12</li>
			<li>10.1.4.13</li>
			<li>10.2</li>
			<li>10.2.1</li>
			<li>10.2.1.1</li>
			<li>10.2.1.2</li>
			<li>10.2.1.3</li>
			<li>10.2.1.4</li>
			<li>10.2.2</li>
			<li>10.2.2.1</li>
			<li>10.2.2.2</li>
			<li>10.2.3</li>
			<li>10.2.3.1</li>
			<li>10.2.4</li>
			<li>10.2.4.1</li>
			<li>10.2.4.2</li>
			<li>10.2.4.3</li>
			<li>10.2.4.4</li>
			<li>10.2.4.5</li>
			<li>10.2.4.6</li>
			<li>10.2.4.7</li>
			<li>10.2.5</li>
			<li>10.2.5.1</li>
			<li>10.2.5.2</li>
			<li>10.2.5.3</li>
			<li>10.2.5.4</li>
			<li>10.3</li>
			<li>10.3.1</li>
			<li>10.3.1.1</li>
			<li>10.3.1.2</li>
			<li>10.3.2</li>
			<li>10.3.2.1</li>
			<li>10.3.2.2</li>
			<li>10.3.2.3</li>
			<li>10.3.2.4</li>
			<li>10.3.3</li>
			<li>10.3.3.1</li>
			<li>10.3.3.2</li>
			<li>10.3.3.3</li>
			<li>10.3.3.4</li>
			<li>10.4</li>
			<li>10.4.1</li>
			<li>10.4.1.1</li>
			<li>10.4.1.2</li>
			<li>10.4.1.3</li>
			<li>10.5</li>
			<li>10.6</li>
			<li>11</li>
			<li>11.0</li>
			<li>11.1</li>
			<li>11.1.1</li>
			<li>11.1.1.1</li>
			<li>11.1.1.1.1</li>
			<li>11.1.1.1.2</li>
			<li>11.1.2</li>
			<li>11.1.2.1</li>
			<li>11.1.2.1.1</li>
			<li>11.1.2.1.2</li>
			<li>11.1.2.1.2.1</li>
			<li>11.1.2.1.2.2</li>
			<li>11.1.2.2</li>
			<li>11.1.2.3</li>
			<li>11.1.2.3.1</li>
			<li>11.1.2.3.2</li>
			<li>11.1.2.4</li>
			<li>11.1.2.5</li>
			<li>11.1.3</li>
			<li>11.1.3.1</li>
			<li>11.1.3.1.1</li>
			<li>11.1.3.1.2</li>
			<li>11.1.3.2</li>
			<li>11.1.3.2.1</li>
			<li>11.1.3.2.2</li>
			<li>11.1.3.3</li>
			<li>11.1.3.4</li>
			<li>11.1.3.5</li>
			<li>11.1.3.5.1</li>
			<li>11.1.3.5.2</li>
			<li>11.1.4</li>
			<li>11.1.4.1</li>
			<li>11.1.4.2</li>
			<li>11.1.4.3</li>
			<li>11.1.4.4</li>
			<li>11.1.4.4.1</li>
			<li>11.1.4.4.2</li>
			<li>11.1.4.5</li>
			<li>11.1.4.5.1</li>
			<li>11.1.4.5.2</li>
			<li>11.1.4.6</li>
			<li>11.1.4.7</li>
			<li>11.1.4.8</li>
			<li>11.1.4.9</li>
			<li>11.1.4.10</li>
			<li>11.1.4.11</li>
			<li>11.1.4.12</li>
			<li>11.1.4.13</li>
			<li>11.2</li>
			<li>11.2.1</li>
			<li>11.2.1.1</li>
			<li>11.2.1.1.1</li>
			<li>11.2.1.1.2</li>
			<li>11.2.1.2</li>
			<li>11.2.1.3</li>
			<li>11.2.1.4</li>
			<li>11.2.1.4.1</li>
			<li>11.2.1.4.2</li>
			<li>11.2.2</li>
			<li>11.2.2.1</li>
			<li>11.2.2.2</li>
			<li>11.2.3</li>
			<li>11.2.3.1</li>
			<li>11.2.4</li>
			<li>11.2.4.1</li>
			<li>11.2.4.2</li>
			<li>11.2.4.3</li>
			<li>11.2.4.4</li>
			<li>11.2.4.5 </li>
			<li>11.2.4.6</li>
			<li>11.2.4.7</li>
			<li>11.2.5</li>
			<li>11.2.5.1</li>
			<li>11.2.5.2</li>
			<li>11.2.5.3</li>
			<li>11.2.5.3.1</li>
			<li>11.2.5.3.2</li>
			<li>11.2.5.4</li>
			<li>11.3</li>
			<li>11.3.1</li>
			<li>11.3.1.1</li>
			<li>11.3.1.1.1</li>
			<li>11.3.1.1.2</li>
			<li>11.3.1.2</li>
			<li>11.3.2</li>
			<li>11.3.2.1</li>
			<li>11.3.2.2</li>
			<li>11.3.2.3</li>
			<li>11.3.2.4</li>
			<li>11.3.3</li>
			<li>11.3.3.1</li>
			<li>11.3.3.1.1</li>
			<li>11.3.3.1.2</li>
			<li>11.3.3.2</li>
			<li>11.3.3.3</li>
			<li>11.3.3.4</li>
			<li>11.4</li>
			<li>11.4.1</li>
			<li>11.4.1.1</li>
			<li>11.4.1.1.1</li>
			<li>11.4.1.1.2</li>
			<li>11.4.1.2</li>
			<li>11.4.1.2.1</li>
			<li>11.4.1.2.2</li>
			<li>11.4.1.3</li>
			<li>11.4.1.3.1</li>
			<li>11.4.1.3.2</li>
			<li>11.5</li>
			<li>11.5.1</li>
			<li>11.5.2</li>
			<li>11.5.2.1</li>
			<li>11.5.2.2</li>
			<li>11.5.2.3</li>
			<li>11.5.2.4</li>
			<li>11.5.2.5</li>
			<li>11.5.2.6</li>
			<li>11.5.2.7</li>
			<li>11.5.2.8</li>
			<li>11.5.2.9</li>
			<li>11.5.2.10</li>
			<li>11.5.2.11</li>
			<li>11.5.2.12</li>
			<li>11.5.2.13</li>
			<li>11.5.2.14</li>
			<li>11.5.2.15</li>
			<li>11.5.2.16</li>
			<li>11.5.2.17</li>
			<li>11.6</li>
			<li>11.6.1</li>
			<li>11.6.2</li>
			<li>11.7</li>
			<li>11.8</li>
			<li>11.8.0</li>
			<li>11.8.1</li>
			<li>11.8.2</li>
			<li>11.8.3</li>
			<li>11.8.4</li>
			<li>11.8.5</li>
			<li>12</li>
			<li>12.1</li>
			<li>12.1.1</li>
			<li>12.1.2</li>
			<li>12.2</li>
			<li>12.2.1</li>
			<li>12.2.2</li>
			<li>12.2.3</li>
			<li>12.2.4</li>
			<li>13</li>
			<li>13.1</li>
			<li>13.1.1</li>
			<li>13.1.2</li>
			<li>13.1.3</li>
			<li>13.1.4</li>
			<li>13.1.5</li>
			<li>13.1.6</li>
			<li>13.2 et 13.3 ont été jugées pertinentes pour ce TIC.</li>
		</ul>
	</div>
</section>

{% endif %}
