{% if locale === "en" %}

<table class="table table-bordered table-striped">
	<caption>Table 9.1: WCAG 2.1 Level AAA Success Criteria</caption>
	<thead>
		<tr>
			<th>No.</th>
			<th>Guideline</th>
			<th>Success Criterion Number</th>
			<th>Success Criteria Name</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Time-based media</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#sign-language-prerecorded">1.2.6</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#sign-language-prerecorded">Sign Language (Prerecorded)</a></td>
		</tr>
		<tr>
			<td>2</td>
			<td>Time-based media</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#extended-audio-description-prerecorded">1.2.7</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#extended-audio-description-prerecorded">Extended Audio Description (Prerecorded)</a></td>
		</tr>
		<tr>
			<td>3</td>
			<td>Time-based media</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#media-alternative-prerecorded">1.2.8</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#media-alternative-prerecorded">Media Alternative (Prerecorded)</a></td>
		</tr>
		<tr>
			<td>4</td>
			<td>Time-based media</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#audio-only-live">1.2.9</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#audio-only-live">Audio-only (Live)</a></td>
		</tr>
		<tr>
			<td>5</td>
			<td>Adaptable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#identify-purpose">1.3.6</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#identify-purpose">Identify Purpose</a></td>
		</tr>
		<tr>
			<td>6</td>
			<td>Distinguishable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#contrast-enhanced">1.4.6</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#contrast-enhanced">Contrast (Enhanced</a>)</td>
		</tr>
		<tr>
			<td>7</td>
			<td>Distinguishable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#low-or-no-background-audio">1.4.7</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#low-or-no-background-audio">Low or No Background Audio</a></td>
		</tr>
		<tr>
			<td>8</td>
			<td>Distinguishable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#visual-presentation">1.4.8</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#visual-presentation">Visual Presentation</a></td>
		</tr>
		<tr>
			<td>9</td>
			<td>Distinguishable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#images-of-text-no-exception">1.4.9</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#images-of-text-no-exception">Images of Text (No Exception)</a></td>
		</tr>
		<tr>
			<td>10</td>
			<td>Keyboard Accessible</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#keyboard-no-exception">2.1.3</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#keyboard-no-exception">Keyboard (No Exception)</a></td>
		</tr>
		<tr>
			<td>11</td>
			<td>Enough time</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#no-timing">2.2.3</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#no-timing">No Timing</a></td>
		</tr>
		<tr>
			<td>12</td>
			<td>Enough time</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#interruptions">2.2.4</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#interruptions">Interruptions</a></td>
		</tr>
		<tr>
			<td>13</td>
			<td>Enough time</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#re-authenticating">2.2.5</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#re-authenticating">Re-authenticating</a></td>
		</tr>
		<tr>
			<td>14</td>
			<td>Enough time</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#timeouts">2.2.6</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#timeouts">Timeouts</a></td>
		</tr>
		<tr>
			<td>15</td>
			<td>Seizures and physical reactions</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#three-flashes">2.3.2</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#three-flashes">Three Flashes</a></td>
		</tr>
		<tr>
			<td>16</td>
			<td>Seizures and physical reactions</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#animation-from-interactions">2.3.3</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#animation-from-interactions">Animation form Interactions</a></td>
		</tr>
		<tr>
			<td>17</td>
			<td>Navigable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#location">2.4.8</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#location">Location</a></td>
		</tr>
		<tr>
			<td>18</td>
			<td>Navigable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#link-purpose-link-only">2.4.9</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#link-purpose-link-only">Link Purpose (Link Only)</a></td>
		</tr>
		<tr>
			<td>19</td>
			<td>Navigable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#section-headings">2.4.10</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#section-headings">Section Headings</a></td>
		</tr>
		<tr>
			<td>20</td>
			<td>Input modalities</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#target-size">2.5.5</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#target-size">Target Size</a></td>
		</tr>
		<tr>
			<td>21</td>
			<td>Input modalities</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#concurrent-input-mechanisms">2.5.6</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#concurrent-input-mechanisms">Concurrent Input Mechanisms</a></td>
		</tr>
		<tr>
			<td>22</td>
			<td>Readable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#unusual-words">3.1.3</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#unusual-words">Unusual Words</a></td>
		</tr>
		<tr>
			<td>23</td>
			<td>Readable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#abbreviations">3.1.4</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#abbreviations">Abbreviations</a></td>
		</tr>
		<tr>
			<td>24</td>
			<td>Readable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#reading-level">3.1.5</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#reading-level">Reading Level</a></td>
		</tr>
		<tr>
			<td>25</td>
			<td>Readable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#pronunciation">3.1.6</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#pronunciation">Pronunciation</a></td>
		</tr>
		<tr>
			<td>26</td>
			<td>Predictable</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#change-on-request">3.2.5</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#change-on-request">Change on Request</a></td>
		</tr>
		<tr>
			<td>27</td>
			<td>Input assistance</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#help">3.3.5</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#help">Help</a></td>
		</tr>
		<tr>
			<td>28</td>
			<td>Input assistance</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#error-prevention-all">3.3.6</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#error-prevention-all">Error Prevention (All)</a></td>
		</tr>
	</tbody>
</table>

{% else %}

<table class="table table-bordered table-striped">
	<caption>Tableau 9.1 : Critères de succès de niveau AAA des WCAG 2.1</caption>
	<thead>
		<tr>
			<th>No</th>
			<th>Règle</th>
			<th>Numéro du critère de succès</th>
			<th>Nom du critère de succès</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Média temporel</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#sign-language-prerecorded">1.2.6</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#sign-language-prerecorded">Langue des signes (pré-enregistrée)</a></td>
		</tr>
		<tr>
			<td>2</td>
			<td>Média temporel</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#extended-audio-description-prerecorded">1.2.7</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#extended-audio-description-prerecorded">Audio-description étendue (pré-enregistrée)</a></td>
		</tr>
		<tr>
			<td>3</td>
			<td>Média temporel</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#media-alternative-prerecorded">1.2.8</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#media-alternative-prerecorded">Version de remplacement pour un média temporel (pré-enregistrée)</a></td>
		</tr>
		<tr>
			<td>4</td>
			<td>Média temporel</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#audio-only-live">1.2.9</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#audio-only-live">Seulement audio (en direct)</a></td>
		</tr>
		<tr>
			<td>5</td>
			<td>Adaptable</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#identify-purpose">1.3.6</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#identify-purpose">Identifier la fonction</a></td>
		</tr>
		<tr>
			<td>6</td>
			<td>Distinguable</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#contrast-enhanced">1.4.6</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#contrast-enhanced">Contraste (amélioré)</a></td>
		</tr>
		<tr>
			<td>7</td>
			<td>Distinguable</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#low-or-no-background-audio">1.4.7</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#low-or-no-background-audio">Arrière-plan sonore de faible volume ou absent</a></td>
		</tr>
		<tr>
			<td>8</td>
			<td>Distinguable</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#visual-presentation">1.4.8</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#visual-presentation">Présentation visuelle</a></td>
		</tr>
		<tr>
			<td>9</td>
			<td>Distinguable</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#images-of-text-no-exception">1.4.9</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#images-of-text-no-exception">Texte sous forme d’image (sans exception)</a></td>
		</tr>
		<tr>
			<td>10</td>
			<td>Accessibilité au clavier</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#keyboard-no-exception">2.1.3</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#keyboard-no-exception">Clavier (pas d’exception)</a></td>
		</tr>
		<tr>
			<td>11</td>
			<td>Délai suffisant</td>
			<td><a href="https://www.w3.org/TR/WCAG21/#no-timing">2.2.3</a></td>
			<td><a href="https://www.w3.org/TR/WCAG21/#no-timing">Pas de délai d’exécution</a></td>
		</tr>
		<tr>
			<td>12</td>
			<td>Délai suffisant</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#interruptions">2.2.4</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#interruptions">Interruptions</a></td>
		</tr>
		<tr>
			<td>13</td>
			<td>Délai suffisant</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#re-authenticating">2.2.5</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#re-authenticating">Nouvelle authentification</a></td>
		</tr>
		<tr>
			<td>14</td>
			<td>Délai suffisant</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#timeouts">2.2.6</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#timeouts">Délais d’expiration</a></td>
		</tr>
		<tr>
			<td>15</td>
			<td>Crises et réactions physiques</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#three-flashes">2.3.2</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#three-flashes">Trois flashs</a></td>
		</tr>
		<tr>
			<td>16</td>
			<td>Crises et réactions physiques</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#animation-from-interactions">2.3.3</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#animation-from-interactions">Animation résultant d’interactions</a></td>
		</tr>
		<tr>
			<td>17</td>
			<td>Navigable</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#location">2.4.8</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#location">Localisation</a></td>
		</tr>
		<tr>
			<td>18</td>
			<td>Navigable</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#link-purpose-link-only">2.4.9</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#link-purpose-link-only">Fonction du lien (lien uniquement)</a></td>
		</tr>
		<tr>
			<td>19</td>
			<td>Navigable</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#section-headings">2.4.10</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#section-headings">En-têtes de section</a></td>
		</tr>
		<tr>
			<td>20</td>
			<td>Modalités d’entrée</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#target-size">2.5.5</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#target-size">Taille de la cible</a></td>
		</tr>
		<tr>
			<td>21</td>
			<td>Modalités d’entrée</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#concurrent-input-mechanisms">2.5.6</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#concurrent-input-mechanisms">Modalités d’entrées concurrentes</a></td>
		</tr>
		<tr>
			<td>22</td>
			<td>Lisible</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#unusual-words">3.1.3</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#unusual-words">Mots rares</a></td>
		</tr>
		<tr>
			<td>23</td>
			<td>Lisible</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#abbreviations">3.1.4</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#abbreviations">Abréviations</a></td>
		</tr>
		<tr>
			<td>24</td>
			<td>Lisible</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#reading-level">3.1.5</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#reading-level">Niveau de lecture</a></td>
		</tr>
		<tr>
			<td>25</td>
			<td>Lisible</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#pronunciation">3.1.6</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#pronunciation">Prononciation</a></td>
		</tr>
		<tr>
			<td>26</td>
			<td>Prévisible</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#change-on-request">3.2.5</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#change-on-request">Changement à la demande</a></td>
		</tr>
		<tr>
			<td>27</td>
			<td>Assistance à la saisie</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#help">3.3.5</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#help">Aide</a></td>
		</tr>
		<tr>
			<td>28</td>
			<td>Assistance à la saisie</td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#error-prevention-all">3.3.6</a></td>
			<td><a href="https://www.w3.org/Translations/WCAG21-fr/#error-prevention-all">Prévention des erreurs (toutes)</a></td>
		</tr>
	</tbody>
</table>

{% endif %}
