{% if locale === "en" %}

<table class="table table-lined table-bordered table-hover table-striped">
	<caption>Table 5.1: Relationship between maximum design viewing distance and minimum character height at the limit of subtended angle</caption>
	<thead>
		<tr>
			<th id="tbl1-tblc-1000" scope="col">Minimum subtended angle</th>
			<th id="tbl1-tblc-1001" scope="col">Maximum design viewing distance</th>
			<th id="tbl1-tblc-1002" scope="col">Minimum character height</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="10" headers="tbl1-tblc-1000">
				<p>0,7 degrees</p>
			</td>
			<td headers="tbl1-tblc-1001">
				<p>100 mm</p>
			</td>
			<td headers="tbl1-tblc-1002">
				<p>1,2 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>200 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>2,4 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>250 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>3,1 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>300 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>3,7 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>350 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>4,3 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>400 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>4,9 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>450 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>5,5 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>500 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>6,1 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>550 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>6,7 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>600 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>7,3 mm</p>
			</td>
		</tr>
	</tbody>
</table>

{% else %}

<table class="table table-lined table-bordered table-hover table-striped">
	<caption>Tableau 5.1 : Relation entre la distance de visualisation du dessin maximale et la hauteur minimale des caractères à la limite d’un angle sous-tendu</caption>
	<thead>
		<tr>
			<th id="tbl1-tblc-1000" scope="col">Angle sous-tendu minimal</th>
			<th id="tbl1-tblc-1001" scope="col">Distance de vision théorique maximale</th>
			<th id="tbl1-tblc-1002" scope="col">Hauteur minimale des caractères</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="10" headers="tbl1-tblc-1000">
				<p>0,7 degrees</p>
			</td>
			<td headers="tbl1-tblc-1001">
				<p>100 mm</p>
			</td>
			<td headers="tbl1-tblc-1002">
				<p>1,2 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>200 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>2,4 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>250 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>3,1 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>300 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>3,7 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>350 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>4,3 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>400 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>4,9 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>450 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>5,5 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>500 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>6,1 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>550 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>6,7 mm</p>
			</td>
		</tr>
		<tr>
			<td headers="tbl1-tblc-1000 ">
				<p>600 mm</p>
			</td>
			<td headers="tbl1-tblc-1001 ">
				<p>7,3 mm</p>
			</td>
		</tr>
	</tbody>
</table>

{% endif %}
