---
title: Global Accessibility Standards
description: A set of guidelines to ensure digital content is accessible worldwide for people living with disabilities and frameworks for creating accessible digital products, services, and more.
toggle: normes-d-accessibilite-mondiales
tags:
  - accessibilityFundamentals
---

{% if collections.globalAccessibilityStandards === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg gc-drmt">
	{% for item in collections.globalAccessibilityStandards | sort(false, false, 'data.title') | localeMatch(locale) %}
	<div class="col-md-6">
		<h2><a href="{% if item.data.redirect %}{{ item.data.redirect }}{% else %}{{ item.url }}{% endif %}"{% if item.data.oneLanguage %} hreflang="{{ landingPage[locale].otherLang }}"{% endif %}>{{ item.data.title | safe }}{% if item.data.oneLanguage %}<small> {{ landingPage[locale].otherLangOnly }}</small>{% endif %}</a></h2>
		<p>
			{% if item.data.description %}
			{{ item.data.description | safe }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>

{% endif %}
