---
title: Accessibility Fundamentals
description: Discover the accessibility principles behind creating digital products and services that remove barriers for people living with disabilities while ensuring ease of use for all.
layout: layouts/base.njk
toggle: principes-de-base-de-laccessibilite
tags: main
---

{% if collections.accessibilityFundamentals === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg">
	{% for item in collections.accessibilityFundamentals | sort(false, false, 'data.title') | localeMatch(locale) %}
	<div class="col-md-6">
		<h3><a href="{{ item.url }}">{{ item.data.title | safe }}</a></h3>
		<p>
			{% if item.data.description %}
			{{ item.data.description | safe }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>

{% endif %}
