---
title: Créer du contenu Web
description: La création de contenu pour le web comporte ses propres défis et spécifications. Dans la section suivante, nous avons rassemblé diverses ressources et aides à la tâche.
layout: layouts/base.njk
toggle: create-web-content
tags: howTos
---

{% if collections.createWebContent === undefined %}

<p>There's nothing here !</p>

{% else %}

<div class="row wb-eqht mrgn-tp-lg">
	{% for item in collections.createWebContent | localeMatch(locale) %}
	<div class="col-md-6">
		<h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
		<p>{{ item.data.description }}</p>
	</div>
	{% endfor %}
</div>

{% endif %}
