---
title: Fiches de conseils pour Microsoft Office
description: Apprendre à identifier et à corriger les problèmes d’accessibilité courants dans la suite logicielle Microsoft Office.
toggle: tip-sheets-for-microsoft-office
tags:
  - createDocument
  - updatesMain
---

{% if collections.msTips === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg gc-drmt">
	{% for item in collections.msTips | sort(false, false, 'data.title') | localeMatch(locale) %}
	{% if item.data.tags[1] != "msTips" %}
	<div class="col-md-6">
		<h3><a href="{{ pathPrefix }}{{ item.url }} ">{{ item.data.title | safe }}</a></h3>
		<p>
			{% if item.data.description %}
			{{ item.data.description | safe }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endif %}
