---
title: Comment faire
description: Conseils et étapes essentielles pour rendre accessibles tous vos produits et contenus numériques, tels que les documents, les réunions, etc.
layout: layouts/base.njk
toggle: how-tos
tags: main
---

{% if collections.howTos === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg">
	{% for item in collections.howTos | sort(false, false, 'data.title') | localeMatch(locale) %}
	<div class="col-md-6">
		<h3><a href="{{ item.url }}">{{ item.data.title | safe }}</a></h3>
		<p>
			{% if item.data.description %}
			{{ item.data.description | safe }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endfor %}
</div>

{% endif %}
