---
title: Organiser des réunions et des événements
description: Afin de vous aider à organiser et offrir une réunion/un événement virtuel entièrement accessible, qu'il s'agisse d'une session de formation, d'une réunion, d'un kiosque ou d'un événement portes ouvertes.
layout: layouts/base.njk
audience:
  -
---
