---
title: Principes de conception pour des services accessibles
description: Avec ces conseils, apprenez ce que vous devez savoir pour concevoir en tenant compte des différentes catégories d’handicap.
layout: layouts/base.njk
toggle: designing-accessible-services
tags: howTos
---

{% if collections.designingAccessible === undefined %}

	{% include "partials/alert-landingpages.njk" %}

{% else %}

<div class="row wb-eqht mrgn-tp-lg gc-drmt">
	{% for item in collections.designingAccessible | sort(false, false, 'data.title') | localeMatch(locale) %}
	{% if item.data.tags[1] != "designingAccessible" %}
	<div class="col-md-6">
		<h3><a href="{{ item.url }}">{{ item.data.title | safe }}</a></h3>
		<p>
			{% if item.data.description %}
			{{ item.data.description | safe }}
			{% else %}
			{{ landingPage[locale].descriptionNoneText }}
			{% endif %}
		</p>
	</div>
	{% endif %}
	{% endfor %}
</div>
{% endif %}
