<section>
	<h2>{{ about[locale].about }}</h2>
	<div class="row">
		<section class="col-md-4">
			<h3><a href="#">How it started</a></h3>
			<p>description Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
		</section>
		<section class="col-md-4">
			<h3><a href="#">Terms of reference</a></h3>
			<p>description Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
		</section>
		<section class="col-md-4">
			<h3><a href="#">Contact the Digital Accessibility Toolkit</a></h3>
			<p>description Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
		</section>
	</div>
</section>
