{% if locale === "en" %}
	<p>We are currently in the process of collecting information on this subject. Please return in the near future for updates.</p>
	<p>If you have any materials you would like to share, please feel free to visit our contact page. Thank you!</p>
{% else %}
	<p>Nous travaillons actuellement à rassembler du contenue sur ce sujet. Veuillez revenir bientôt pour des mises à jour.</p>
	<p>Si vous avez du matériel que vous souhaitez contribuer, veuillez visiter notre page de contact. Merci!</p>
{% endif %}
