{% set otherLang = "fr" if locale == "en" else "en" %}

{% if settings.env === "local" %}
	{% include "partials/pageLabel.njk" %}
{% endif %}

{% if isDraft or needsTranslation or internalLinks %}
<div class="container">
	<section class="alert alert-warning mrgn-tp-lg">
		<h2>{{ alerts[locale].alertHeading }}</h2>
		<ul>
			{% if isDraft == true %}
			<li class="mrgn-tp-lg">{{ alerts[locale].draftText }}</li>
			{% endif %}
			{% if needsTranslation == true %}
			<li class="mrgn-tp-lg" lang="{{ otherLang }}">{{ alerts[locale].translationText }}</li>
			{% endif %}
			{% if internalLinks == true %}
			<li class="mrgn-tp-lg">{{ alerts[locale].internalLinkText }}<i class="fas fa-external-link-square-alt" aria-hidden="true"> <span class="mrgn-lft-sm">{{ alerts[locale].icon }}</span cl></i><span class="wb-inv">{{ alerts[locale].hiddenTextLink }}</span></li>
			{% endif %}
		</ul>
	</section>
</div>
{% endif %}
