{% set onThisPage = "On this page" if locale == "en" else "Sur cette page" %}

<section>
	<h2>{{ onThisPage }}</h2>
	<ul class="list-col-xs-2 list-col-md-3 lst-spcd-2">
	{% for month, results in analytics %}
		<li><a href="#{{ month }}">{{ month | formatYearMonth }}</a></li>
	{% endfor %}
	</ul>
</section>
