{#

# Breadcrumbs include

This file controls the breadcrumbs on the site.

Will eventually be replaced with [Navigation — Eleventy](https://www.11ty.dev/docs/plugins/navigation/)

## Related files

- src/_includes/partials/header.njk - include file that this file is pulled into
- src/_data/header.js and src/_data/settings.js - data file that the text can be found in
- src/_data/tagList.js - data file that has the `subject` and `tags` values

## Logic for breadcrumbs

The first and second level never change, the other levels are based on the frontmatter of the page.

### Output

Canada.ca > Digital Accessibility Toolkit > [subject] > [tags]

Subject and tags are arrays found inside the frontmatter of the pages, which are looped depending on their values.

## Exceptions

- All the main pages linked from the homepage have `tags: main` and don't have a breadcrumb on them
- The tags `updateMain` is used only for the "Latest updates" section on the main page and is ignored in this logic

## Example

### Frontmatter of page

---
title: Live Broadcast
description: Live Broadcasts are defined as a facilitator presenting a PowerPoint via videoconference. Here we have defined each type and their respective accessibility requirements.
toggle: diffusions-en-direct
subject:
  - howTos
  - createWebContent
tags:
  - video (only an example, not actually a value found in tagList.js)
---

### Breadcrumb path

Canada.ca > Digital Accessibility Toolkit > How to’s > Create web content > Accessible video

#}

<nav id="wb-bc" property="breadcrumb">
	<h2>{{ header[locale].breadcrumbsHeading }}</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
			<!-- First breadcrumb: Canada.ca -->
			<li property="itemListElement" typeof="ListItem">
				<a property="item" typeof="WebPage" href="{{ header[locale].governmentOfCanadaURL }}">
					<span property="name">Canada.ca</span>
				</a>
				<meta property="position" content="1">
			</li>

			<!-- Second breadcrumb: Locale-based home link -->
			{% set url = page.url | replace("/", "") %}
			{% if url != locale %}
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="WebPage" href="/{{ locale }}/">{{ settings[locale].metaTitle }}</a>
					<meta property="position" content="2">
				</li>
			{% endif %}

			<!-- Additional breadcrumbs based on tags and subjects -->
			{% if tags[0] != "main" %}
				{% set counter = 3 %} {# Start the counter from 3, as 1 and 2 are already used #}

				<!-- Breadcrumbs based on 'subject' -->
				{% if subject %}
					{% for breadcrumb in subject %}
						<li property="itemListElement" typeof="ListItem">
							<a property="item" typeof="WebPage" href="/{{ locale }}/{{ tagList.tags[locale][breadcrumb] | stripTagsSlugify or tagList.subjects[locale][breadcrumb] | stripTagsSlugify }}">
								<span property="name">{{ tagList.tags[locale][breadcrumb] or tagList.subjects[locale][breadcrumb] }}</span>
							</a>
							<meta property="position" content="{{ counter }}">
						</li>
						{% set counter = counter + 1 %}
					{% endfor %}
				{% endif %}

				<!-- Breadcrumbs based on 'tags' -->
				{% if tags %}
					{% for breadcrumb in tags %}
						{% if breadcrumb != "updatesMain" %}
							<li property="itemListElement" typeof="ListItem">
								<a property="item" typeof="WebPage" href="/{{ locale }}/{{ tagList.tags[locale][breadcrumb] | stripTagsSlugify or tagList.subjects[locale][breadcrumb] | stripTagsSlugify }}">
									<span property="name">{{ tagList.tags[locale][breadcrumb] or tagList.subjects[locale][breadcrumb] }}</span>
								</a>
								<meta property="position" content="{{ counter }}">
							</li>
							{% set counter = counter + 1 %}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endif %}
		</ol>
	</div>
</nav>
