<nav id="wb-bc" property="breadcrumb">
	<h2>{{ header[locale].breadcrumbsHeading }}</h2>
	<div class="container">
		<ol class="breadcrumb" typeof="BreadcrumbList">
			<li property="itemListElement" typeof="ListItem">
				<a property="item" typeof="WebPage" href="{{ header[locale].governmentOfCanadaURL }}">
					<span property="name">Canada.ca</span>
				</a>
				<meta property="position" content="1">
			</li>
			{% set url = page.url | replace("/", "") %}
			{% if url != locale %}
			<li>
				<a href="/{{ locale }}/">{{ settings[locale].metaTitle }}</a>
			</li>
			{% endif %}

			{% if tags[0] != "main" %}

				{% if subject %}
					<li><a href="/{{ locale }}/{{ tagList.tags[locale][subject] | stripTagsSlugify or tagList.subjects[locale][subject] | stripTagsSlugify }}">{{ tagList.tags[locale][subject] or tagList.subjects[locale][subject] }}</a></li>
				{% endif %}

				{% if tags %}
					{% for breadcrumb in tags %}

					{% if breadcrumb != "updatesMain" %}
					<li>
						<a href="/{{ locale }}/{{ tagList.tags[locale][breadcrumb] | stripTagsSlugify or tagList.subjects[locale][breadcrumb] | stripTagsSlugify }}">{{ tagList.tags[locale][breadcrumb] or tagList.subjects[locale][breadcrumb] }}</a>
					</li>
					{% endif %}

					{% endfor %}
				{% endif %}

			{% endif %}

		</ol>

	</div>
</nav>
