
{# {{ footer[locale].aboutThisSite }} #}
<aside class="contribute">
	<div class="container">
		<h2><i class="fab fa-github fa-lg fa-fw" aria-hidden="true"></i>{{ contribute[locale].contribute }} <small>{{ contribute[locale].small }}</small></h2>
			<ul class="list-unstyled colcount-sm-2 colcount-md-3">
				<li><a href="https://github.com/gc-da11yn/gc-da11yn.github.io"><i class="fas fa-code fa-lg fa-fw" aria-hidden="true"></i>{{ contribute[locale].see }} <small>{{ contribute[locale].small }}</small></a></li>
				<li><a href="https://github.com/gc-da11yn/gc-da11yn.github.io/issues/new/choose"><i class="fas fa-exclamation-circle fa-lg fa-fw" aria-hidden="true"></i>{{ contribute[locale].report }} <small>{{ contribute[locale].small }}</small></a></li>
				<li><a href="https://github.com/gc-da11yn/gc-da11yn.github.io/discussions"><i class="far fa-comments fa-lg fa-fw" aria-hidden="true"></i>{{ contribute[locale].join }} <small>{{ contribute[locale].small }}</small></a></li>
			</ul>
	</div>
</aside>