{# {{ footer[locale].aboutThisSite }} #}
<aside class="contribute">
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
				<h2><i class="fab fa-github fa-lg fa-fw" aria-hidden="true"></i>{{ contribute[locale].contribute }}<small>{{ contribute[locale].small }}</small></h2>
			</div>
			<div class="col-sm-8">
				<ul class="list-unstyled colcount-lg-3">
					<li><i class="fas fa-code fa-lg fa-fw" aria-hidden="true"></i><a{% if locale != en %} hreflang="en" {% endif %}href="https://github.com/gc-da11yn/gc-da11yn.github.io">{{ contribute[locale].see }}<small>{{ contribute[locale].small }}</small></a></li>
					<li><i class="fas fa-exclamation-circle fa-lg fa-fw" aria-hidden="true"></i><a{% if locale != en %} hreflang="en" {% endif %} href="https://github.com/gc-da11yn/gc-da11yn.github.io/issues/new/choose">{{ contribute[locale].report }}<small>{{ contribute[locale].small }}</small></a></li>
					<li><i class="fas fa-comments fa-lg fa-fw" aria-hidden="true"></i><a{% if locale != en %} hreflang="en" {% endif %} href="https://github.com/gc-da11yn/gc-da11yn.github.io/discussions">{{ contribute[locale].join }}<small>{{ contribute[locale].small }}</small></a></li>
				</ul>
			</div>
		</div>
		{% if settings.env == "dev" %}
			<p>{{ contribute[locale].netlify }} <a{% if locale != en %} hreflang="en" {% endif %} href="https://www.netlify.com">Netlify</a></p>
		{% endif %}
	</div>
</aside>
