
<footer id="wb-info">
	<h2 class="wb-inv">{{ footer[locale].aboutThisSite }}</h2>
	<div class="gc-contextual">
	<div class="container">
			<nav>
				<h3>{{ footer[locale].contextualHeader }}</h3>
				<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3"><li><a href="http://canada.ca/en">{{ footer[locale].contextualLinkText1 }}</a></li><li><a href="{{ footer[locale].contextualLink2 }}"> {{ footer[locale].contextualLinkText2 }} </a></li><li><a href="http://canada.ca/en">{{ footer[locale].contextualLinkText3 }}</a></li></ul>
			</nav>
		</div>
	</div>
	<div class="gc-main-footer">
		<div class="container">
			<nav>
				<h3>Government of Canada</h3>
				<ul class="list-col-xs-1 list-col-sm-2 list-col-md-3"><li><a href="https://www.canada.ca/en/contact.html">All contacts</a></li>
					<li><a href="https://www.canada.ca/en/government/dept.html">Departments and agencies</a></li>
					<li><a href="https://www.canada.ca/en/government/system.html">About government</a></li></ul>
				<h4><span class="wb-inv">Themes and topics</span></h4>
				<ul class="list-unstyled colcount-sm-2 colcount-md-3"><li><a href="https://www.canada.ca/en/services/jobs.html">Jobs</a></li>
					<li><a href="https://www.canada.ca/en/services/immigration-citizenship.html">Immigration and citizenship</a></li>
					<li><a href="https://travel.gc.ca/">Travel and tourism</a></li>
					<li><a href="https://www.canada.ca/en/services/business.html">Business</a></li>
					<li><a href="https://www.canada.ca/en/services/benefits.html">Benefits</a></li>
					<li><a href="https://www.canada.ca/en/services/health.html">Health</a></li>
					<li><a href="https://www.canada.ca/en/services/taxes.html">Taxes</a></li>
					<li><a href="https://www.canada.ca/en/services/environment.html">Environment and natural resources</a></li>
					<li><a href="https://www.canada.ca/en/services/defence.html">National security and defence</a></li>
					<li><a href="https://www.canada.ca/en/services/culture.html">Culture, history and sport</a></li>
					<li><a href="https://www.canada.ca/en/services/policing.html">Policing, justice and emergencies</a></li>
					<li><a href="https://www.canada.ca/en/services/transport.html">Transport and infrastructure</a></li>
					<li><a href="https://international.gc.ca/world-monde/index.aspx?lang=eng">Canada and the world</a></li>
					<li><a href="https://www.canada.ca/en/services/finance.html">Money and finance</a></li>
					<li><a href="https://www.canada.ca/en/services/science.html">Science and innovation</a></li>
					<li><a href="https://www.canada.ca/en/services/indigenous-peoples.html">Indigenous peoples</a></li>
					<li><a href="https://www.canada.ca/en/services/veterans-military.html">Veterans and military</a></li>
					<li><a href="https://www.canada.ca/en/services/youth.html">Youth</a></li></ul>
			</nav>
		</div>
	</div>
	-
		<nav class="container wb-navcurr">
			<h2 class="wb-inv">{{ footer[locale].aboutGovernment }}</h2>
			<ul class="list-unstyled colcount-sm-2 colcount-md-3">
				<li><a href="{{ footer[locale].contactUsURL }}">{{ footer[locale].contactUs }}</a></li>
				<li><a href="{{ footer[locale].departmentsAndAgenciesURL }}">{{ footer[locale].departmentsAndAgencies }}</a></li>
				<li><a href="{{ footer[locale].publicServiceAndMilitaryURL }}">{{ footer[locale].publicServiceAndMilitary }}</a></li>
				<li><a href="{{ footer[locale].newsURL }}">{{ footer[locale].news }}</a></li>
				<li><a href="{{ footer[locale].treatiesLawsAndRegulationsURL }}">{{ footer[locale].treatiesLawsAndRegulations }}</a></li>
				<li><a href="{{ footer[locale].governmentWideReportingURL }}">{{ footer[locale].governmentWideReporting }}</a></li>
				<li><a href="{{ footer[locale].primeMinisterURL }}">{{ footer[locale].primeMinister }}</a></li>
				<li><a href="{{ footer[locale].howGovernmentWorksURL }}">{{ footer[locale].howGovernmentWorks }}</a></li>
				<li><a href="{{ footer[locale].openGovernmentURL }}">{{ footer[locale].openGovernment }}</a></li>
			</ul>
		</nav>
	</div>
	<div class="brand">
		<div class="container">
			<div class="row">
				<nav class="col-md-9 col-lg-10 ftr-urlt-lnk">
					
					<ul>
						<li><a href="{{ footer[locale].socialMediaURL }}">{{ footer[locale].socialMedia }}</a></li>
						<li><a href="{{ footer[locale].mobileApplicationsURL }}">{{ footer[locale].mobileApplications }}</a></li>
						<li><a href="{{ footer[locale].aboutCanadaCaURL }}">{{ footer[locale].aboutCanadaCa }}</a></li>
						<li><a href="{{ footer[locale].termsAndConditionsURL }}">{{ footer[locale].termsAndConditions }}</a></li>
						<li><a href="{{ footer[locale].privacyURL }}">{{ footer[locale].privacy }}</a></li>
					</ul>
				</nav>
				<div class="col-xs-6 visible-sm visible-xs tofpg">
					<a href="#wb-cont">{{ footer[locale].topOfPage }} <span class="glyphicon glyphicon-chevron-up"></span></a>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-right">
					<img src="//www.canada.ca/etc/designs/canada/wet-boew/assets/wmms-blk.svg" alt="{{ footer[locale].symbolOfTheGovernmentOfCanada }}">
				</div>
			</div>
		</div>
	</div>
</footer>
