
<head>
	<meta charset="utf-8">
	<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
	{% set metaTitle = settings[locale].metaTitle %}
	<title>{{ title }} - {{ metaTitle }}</title>
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta name="description" content="{{ description }}">
	<link rel="alternate" hreflang="{{ locale }}" href="./{{ otherLanguagePage }}.html" />
	<link href="./gcweb/assets/favicon.ico" rel="icon" type="image/x-icon">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
	<link rel="stylesheet" href="/gcweb/css/theme.min.css" />
</head>
