{% set otherLang = "fr" if locale == "en" else
	"en" %}
{% set toggleURL = page.filePathStem | replace("/en/", "fr/")if locale == "en" else
	page.filePathStem | replace("/fr/", "en/") %}
<head>
	<meta charset="utf-8">

	<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
		wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
	{% set metaTitle = settings[locale].metaTitle %}
	<title>{% if settings.env == "dev" %}{% if locale != "fr" %}In development - {% else %}En cours de développement - {% endif %}{% endif %}{{ title | striptags(true) | escape | nl2br }} - {{ metaTitle }}</title>
	<meta content="width=device-width,initial-scale=1" name="viewport">
	<meta name="description" content="{{ description | striptags(true) | escape | nl2br }}">

	{% if settings.env == "dev" %}
	<meta name="robots" content="noindex, nofollow">
	{% endif %}

	{% if toggle %}
	<link rel="alternate" hreflang="{{ otherLang }}" href="{{ rootPath }}{{ otherLang }}/{{ toggle }}/index.html" />
	{% endif %}

	<link href="https://www.canada.ca/etc/designs/canada/wet-boew/assets/favicon.ico" rel="icon" type="image/x-icon">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
	<link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
	<link rel="stylesheet" href="{{ rootPath }}css/da11yn.css">

	<!-- Meta tags -->

	<meta name="author" content="{{ header[locale].governmentOfCanada }}" />
	<meta name="dcterms.title" content="{{ title }}" />
	<meta name="dcterms.description" content="{{  description }}" />
	<meta name="dcterms.creator" content="{{ header[locale].governmentOfCanada }}">
	<meta name="dcterms.language" content="{{ locale }}" />
	<meta name="dcterms.created" content="{{ settings.dateCreated }}">
	<meta name="dcterms.modified" content="{{ page.date | postDate }}" >
	<meta name="dcterms.subject" content="{% if subject %}{{ tagList.subjects[locale][subject] }};{% endif %}{% for item in tags %}{{ tagList.tags[locale][item] }}; {% endfor %}" />

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-SM9MSHWDVN"></script>
	<script>
		(function (w) {
			"use strict";
			var dl = "dataLayer";
			if (w.location.hostname === "a11y.canada.ca" || w.location.hostname === "deploy-preview-335--a11ycanada.netlify.app") {
				w[dl] = w[dl] || [];
				w.gtag = function () {
					w[dl].push(arguments);
				}
				w.gtag('js', new Date());
				w.gtag('config', 'G-SM9MSHWDVN');
			}
		})(window);
	</script>
</head>
