
<header>
	<div id="wb-bnr" class="container">
		<div class="row">

			<section id="wb-lng" class="col-xs-3 col-sm-12 pull-right text-right">
				<h2 class="wb-inv">{{ header[locale].Languageselection }}</h2>
				<ul class="list-inline mrgn-bttm-0">
					<li>
						<a lang="{{ header[locale].Otherlanguagecode }}" hreflang="{{ header[locale].Otherlanguagecode }}" href="{{ otherLanguagePage }}">
							<span class="hidden-xs">{{ header[locale].Otherlanguage }}</span>
							<abbr title="{{ header[locale].Otherlanguage }}" class="visible-xs h3 mrgn-tp-sm mrgn-bttm-0 text-uppercase">{{ header[locale].Otherlanguagecode }}</abbr>
						</a>
					</li>
				</ul>
			</section>

			<div class="brand col-xs-9 col-sm-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
				<a href="{{ header[locale].GovernmentofCanadaURL }}" property="url">
					<img src="/gcweb/assets/sig-blk-{{ locale }}.svg" alt="{{ header[locale].GovernmentofCanada }}" property="logo" /><span class="wb-inv"> / <span lang="{{ header[locale].Otherlanguagecode }}">Gouvernement du Canada</span></span>
				</a>
				<meta property="name" content="{{ header[locale].GovernmentofCanada }}">
				<meta property="areaServed" typeof="Country" content="Canada" />
				<link property="logo" href="/gcweb/assets/wmms-blk.svg" />
			</div>

			<section id="wb-srch" class="col-lg-offset-4 col-md-offset-4 col-sm-offset-2 col-xs-12 col-sm-5 col-md-4">
				<h2>Search</h2>
				<form action="https://canada.ca/{{ locale }}/sr/srb.html" method="post" name="cse-search-box" role="search">
					<div class="form-group wb-srch-qry">
						<label for="wb-srch-q" class="wb-inv">{{ header[locale].SearchCanadaca }}</label>
						<input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search" value="" size="34" maxlength="170" placeholder="{{ header[locale].SearchCanadaca }}" />
						<datalist id="wb-srch-q-ac"></datalist>
					</div>
					<div class="form-group submit">
						<button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small" name="wb-srch-sub">
							<span class="glyphicon-search glyphicon"></span>
							<span class="wb-inv">{{ header[locale].Search }}</span>
						</button>
					</div>
				</form>
			</section>


		</div>
	</div>

	<nav class="gcweb-menu" typeof="SiteNavigationElement">
		<div class="container">
			<h2 class="wb-inv">Menu</h2>
			<button type="button" aria-haspopup="true" aria-expanded="false">{# ADD CONDITIONING FOR BUTTON NAME LANG #}<span class="wb-inv">Main </span>Menu <span class="expicon glyphicon glyphicon-chevron-down"></span></button>
			<ul role="menu" aria-orientation="vertical" data-ajax-replace="https://www.canada.ca/content/dam/canada/sitemenu/sitemenu-v2-{{ locale }}.html">
				<li role="presentation"><a role="menuitem" href="{{ header[locale].JobsandtheworkplaceURL }}">{{ header[locale].Jobsandtheworkplace }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].ImmigrationandcitizenshipURL }}">{{ header[locale].Immigrationandcitizenship }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].TravelandtourismURL }}">{{ header[locale].Travelandtourism }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].BusinessandindustryURL }}">{{ header[locale].Businessandindustry }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].BenefitsURL }}">{{ header[locale].Benefits }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].HealthURL }}">{{ header[locale].Health }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].TaxesURL }}">{{ header[locale].Taxes }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].EnvironmentandnaturalresourcesURL }}">{{ header[locale].Environmentandnaturalresources }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].NationalsecurityanddefenceURL }}">{{ header[locale].Nationalsecurityanddefence }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].CulturehistoryandsportURL }}">{{ header[locale].Culturehistoryandsport }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].PolicingjusticeandemergenciesURL }}">{{ header[locale].Policingjusticeandemergencies }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].TransportandinfrastructureURL }}">{{ header[locale].Transportandinfrastructure }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].CanadaandtheworldURL }}">{{ header[locale].Canadaandtheworld }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].MoneyandfinancesURL }}">{{ header[locale].Moneyandfinances }}</a></li>
				<li role="presentation"><a role="menuitem" href="{{ header[locale].ScienceandinnovationURL }}">{{ header[locale].Scienceandinnovation }}</a></li>
			</ul>
		</div>
	</nav>
	<nav id="wb-bc" property="breadcrumb">
		<h2>{{ header[locale].Breadcrumbsheading }}</h2>
		<div class="container">
			<ol class="breadcrumb">
				<li>
					<a href="{{ header[locale].GovernmentofCanadaURL }}">Canada.ca</a>
				</li>
			</ol>
		</div>
	</nav>
	
</header>
