{% if locale === "en" %}
    {% set indexSlug = "how-to-create-accessible-documents" %}
    {% set indexTitle = "How to create accessible documents" %}
    {% set inOffice = "in" %}
{% else %}
    {% set indexSlug = "comment-creer-des-documents-accessibles" %}
    {% set indexTitle = "Comment créer des documents accessibles" %}
    {% set inOffice = "dans" %}
    {% set tryText = "Ce n\'est pas la version que vous recherchez ? Essayez" %}
{% endif %}

{% if tags[1] === "office2016" or page.fileSlug === indexSlug + "-" + inOffice + "-office-2016" %}
    {% set version = "Office 2016" %}
    {% set otherVersion = "Microsoft 365" %}
    {% set collections = collections.office2016 | sort(attribute='data.title') %}
{% endif %}
{% if tags[1] === "microsoft365" or page.fileSlug === indexSlug + "-" + inOffice + "-microsoft-365" %}
    {% set version = "Microsoft 365" %}
    {% set otherVersion = "Office 2016" %}
    {% set collections = collections.microsoft365 | sort(attribute='data.title') %}
{% endif %}

{% if officeTOC === true %}
    {% set versionSlug = version | slugify %}
    {% set indexURL = "/" + locale + "/" + indexSlug + "-" + inOffice + "-" + versionSlug + "/" %}
    {% if locale === "en" %}
        {% set tryText = "Looking for the " + otherVersion + " version? Try" %}
    {% else %}
        {% set tryText = "Besoin de la version " + otherVersion + " ? Essayez" %}
    {% endif %}
    <div class="gc-stp-stp">
        <div class="toc row mrgn-tp-lg">
            <ul class="wb-eqht-grd">
                <li class="col-md-4 col-sm-6"><a class="list-group-item{% if page.url === indexURL %} active{% endif %}"{% if page.url===indexURL %} aria-current="page"{% endif %}{% if page.url !=indexURL %} href="{{ indexURL }}"{% endif %}>{{ indexTitle }} <small class="visible-xs-inline visible-sm-block visible-md-block visible-lg-block"> {{ inOffice }} {{ version }}</small></a></li>
                {% for item in collections | localeMatch(locale) %}
                    {% set title = item.data.title %}
                    <li class="col-md-4 col-sm-6" {% if page.url==item.url %} aria-current="page" {% endif %}><a class="list-group-item{% if page.url == item.url %} active{% endif %}"{% if page.url !=item.url %} href="{{ item.url }}"{% endif %}>
                        {% if item.data.fontIcon %}
                            <i class="fas fa-lg {{ item.data.fontIcon }}" aria-hidden="true"></i>
                        {% endif %}
                        {{ title | replace(inOffice + " " + version, "") }} <small class="visible-xs-inline visible-sm-block visible-md-block visible-lg-block">{{ inOffice }} {{ version }}</small></a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="well">
        {% set versionSlug = version | slugify %}
        {% set otherVersionSlug = otherVersion | slugify %}
        <p class="mrgn-tp-md">{{ tryText }} <a href="{{ page.url | replace(versionSlug,otherVersionSlug) }}">{{ title | replace(inOffice + " " + version,"") }}<small><strong> {{ inOffice }} {{ otherVersion }}</strong></small></a></p>
    </div>

{% endif %}
