{% if locale === "en" %}
	{% set indexSlug = "how-to-create-accessible-documents-in-office-" %}
	{% set indexTitle = "How to create accessible documents" %}
{% else %}
	{% set indexSlug = "comment-creer-des-documents-accessibles-dans-office-" %}
	{% set indexTitle = "Comment créer des documents accessibles" %}
{% endif %}

{% if tags[1] === "office2016" or page.fileSlug === indexSlug + "2016" %}
	{% set version = 2016 %}
	{% set otherVersion = 365 %}
	{% set collections = collections.office2016 %}
{% endif %}
{% if tags[1] === "office365" or page.fileSlug === indexSlug + "365" %}
	{% set version = 365 %}
	{% set otherVersion = 2016 %}
	{% set collections = collections.office365 %}
{% endif %}

{% if officeTOC === true %}
	{% set indexSlug = indexSlug + version %}
	{% set indexURL = "/" + locale + "/" + indexSlug + "/" %}
	<div class="row mrgn-tp-lg">
		<ul class="toc lst-spcd col-md-12">
			<li class="col-md-4 col-sm-6"><a class="list-group-item{% if page.url === indexURL %} active{% endif %}"{% if page.url===indexURL %} aria-current="page" {% endif %}{% if page.url !=indexURL %} href="/{{ locale }}/{{ indexSlug }}/" {% endif %}>{{ indexTitle }}</a></li>
			{% for item in collections | localeMatch(locale) %}
				{% set title = item.data.title | replace("Accessible", "") if locale === "en" else item.data.title | replace("accessibles", "") %}
				<li class="col-md-4 col-sm-6{% if loop.index === 2 or loop.index === 4 %} clr-lft-sm{% endif %}{% if loop.index === 3 %} clr-lft-md clr-lft-lg{% endif %}" {% if page.url==item.url %} aria-current="page" {% endif %}><a class="list-group-item{% if page.url == item.url %} active{% endif %}" {% if page.url !=item.url %}href="{{ item.url }}" {% endif %}>{{ title }}</a></li>
			{% endfor %}
			<li class="col-sm-12 text-center"><a class="list-group-item" href="/{{ locale }}/{{ indexSlug | replace("2016","") | replace("365","") }}{{ otherVersion }}/">{{ indexTitle }}{% if locale === "en" %} in {% else %} dans {% endif %}<strong>Office {{ otherVersion }}</strong></a></li>
		</ul>
	</div>
{% endif %}
