{# Date modified component: https://wet-boew.github.io/GCWeb/sites/date-modified/date-modified-en.html #}
<section class="pagedetails container">
	<h2 class="wb-inv">{{ pagedetails[locale].pageDetailsHeading }}</h2>
	<dl id="wb-dtmd">
		<dt>{{ pagedetails[locale].dateModified }}</dt>
		<dd><time property="dateModified">{{ page.date | postDate }}</time></dd>
	</dl>
</section>
