
<nav>
	<ul id="wb-tphp">
		<li class="wb-slc">
			<a class="wb-sl" href="#wb-cont">{{ skipnav[locale].maincontent }}</a>
		</li>
		<li class="wb-slc">
			<a class="wb-sl" href="#wb-info">{{ skipnav[locale].aboutgovernment }}</a>
		</li>
	</ul>
</nav>
