
<nav>
	<ul id="wb-tphp">
		<li class="wb-slc">
			<a class="wb-sl" href="#wb-cont">{{ skipnav[locale].mainContent }}</a>
		</li>
		<li class="wb-slc visible-sm visible-md visible-lg">
			<a class="wb-sl" href="#wb-info">{{ skipnav[locale].aboutGovernment }}</a>
		</li>
	</ul>
</nav>
