<section class="alert alert-info mrgn-tp-lg">
	{% if locale == "en" %}

## How to get involved?

To foster a participative engagement process, select stakeholders will be invited to:

- Review the _[Standard on Information and Communication Technologies (<abbr title="Information and Communication Technology">ICT</abbr>) Accessibility](/en/standards/standard)_ in full, the proposed accessibility requirements and the associated implementation timelines
- Consult the [background document](/en/standards/backgrounder) with a description of each requirement
- Submit your confidential and anonymous feedback by completing our [feedback submission form](https://forms.office.com/Pages/ResponsePage.aspx?id=EN-XY5VFR0CcTwMxEoIVK5_R18YD5b5JpOR8T_7y9oxUOUlVWVY5TVlBUDlJU0VPRlNLV0ZINlhDSCQlQCN0PWcu)

In the event of technical difficulties, stakeholders will be able to contact us through our generic mailbox: <DigitalPolicy.PolitiqueNumerique-Consultation@tbs-sct.gc.ca>

		{% else %}

## Façons de participer

Pour favoriser un processus d'engagement participatif, certains intervenants seront invités&nbsp;:

- à examiner la [_Norme d'accessibilité des technologies de l'information et des communications (<abbr title="technologies de l’information et des communications">TIC</abbr>)_](/fr/standards/standard) dans son intégralité, les exigences en matière d'accessibilité proposées ainsi que les délais de mise en œuvre associés;
- à consulter le [document d'information](/fr/standards/backgrounder), qui donne une description de chaque exigence;
- à envoyer leur rétroaction confidentielle et anonyme en remplissant [notre formulaire d'envoi de rétroaction](https://forms.office.com/Pages/ResponsePage.aspx?id=EN-XY5VFR0CcTwMxEoIVK5_R18YD5b5JpOR8T_7y9oxUOUlVWVY5TVlBUDlJU0VPRlNLV0ZINlhDSCQlQCN0PWcu).

**Lorsque vous cliquez sur le lien, cliquer sur « Français » dans le coin supérieur droit de la page Web pour accéder à la version française du formulaire.**

En cas de difficultés techniques, les intervenants pourront communiquer avec nous en utilisant notre boîte aux lettres générique : [DigitalPolicy.PolitiqueNumerique-Consultation@tbs-sct.gc.ca](mailto:DigitalPolicy.PolitiqueNumerique-Consultation@tbs-sct.gc.ca)

	{% endif %}
</section>
