<div class="alert alert-warning mrgn-tp-lg" lang="fr">
	<p>Ce contenu n'est disponible qu'en anglais pour le moment. Nous travaillons actuellement à une traduction française du contenu. Veuillez rester à l'écoute.</p>
</div>
